section{
    margin: 0px 25px 0px 25px;
    font-size: small;
    box-sizing: border-box; 
}

.btn{
    font-size: small;
}

.form-control{
    font-size: small;
    border-radius: 0px;
}

th{
    font-weight: 400;
}

.primary{
    color:#1565C0;
}

.alternate{
    color:#26C6DA;
}


.btn-danger{
    font-size: x-small;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.btn-success{
    font-size: x-small;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.btn-default{
    font-size: x-small;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}