<section>
  <div class="row">
    <div class="col-md-12">
      <p class="lead"><u>Pending Masks/Shortcodes Requests</u></p>
      <br>
      <div>
          <table class="table table-sm table-hovered table-bordered table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Mask/SC</th>
                  <th>Desc</th>
                  <th>Type</th>
                  <th>Created</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of configarr">
                  <td>{{item.createdby}}</td>
                  <td>{{item.mask}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.type}}</td>
                  <td>{{item.created}}</td>
                  <td><input type="button" value="Activate Mask" class="btn btn-xs btn-success" (click)="activate(item._id)">&nbsp;<button (click)="ondelete(item._id)" class="btn btn-danger"><span>Delete <i class="fa fa-times"></i></span></button></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</section>
