<section>
  <div class="row">
    <div class="col-md-12">
      <p class="lead"><u>Pending Issues</u></p>
      <br>
      <div>
          <table class="table table-sm table-hovered table-bordered table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Mask/SC</th>
                  <th>Feature</th>
                  <th>Problem</th>
                  <th>Remarks</th>
                  <th>Created</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of configarr">
                  <td>{{item.createdby}}</td>
                  <td>{{item.maskname}}</td>
                  <td>{{item.feature}}</td>
                  <td>{{item.problem}}</td>
                  <td>{{item.remarks}}</td>
                  <td>{{item.created}}</td>
                  <td><input type="button" value="Mark Resolved" class="btn btn-xs btn-success" (click)="resolve(item._id)"></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</section>
