#dashboardSection{
    padding-left: 25px;
    padding-right: 25px;
    font-size: small;
    box-sizing: border-box;
    background: #F7F7F7;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    min-height: 1100px;
}


.menuitemscontainer{
    /* display: inline-block; */
}

.toptext{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    color: #73879C;
}

.centertext{
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
    color: #73879C;
    text-transform: capitalize;
}

.bottomtext{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    color: #73879C;
}

.bg-green {
    background: #1ABB9C!important;
    border: 1px solid #1ABB9C!important;
    color: #fff;
}

.progress {
    border-radius: 0;
}

.pritem{
    padding: 0px 0px 4px 0px;
}

.tdclass{
    padding-top:15px;
}

.panel{
    background: white;
    color: #73879C;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    padding: 10px 17px;
    border: 1px solid #E6E9ED;
    opacity: 1;
    transition: all .2s ease;
    min-height: 270px;
}

.panelheader{
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
}

.panelcontent{
    position: relative;
}

.item{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    padding-bottom: 10px;
    cursor: pointer;
}

.item:hover{
    color:#333;
}

.cardbg{
    color:white;
    background-color:#2f3d5a;
    /* background: linear-gradient(to right, #182848, #1565C0); */
}

.menuitemwrapper{
    cursor: pointer;
    padding-bottom:5px;
    padding-top: 5px;
    padding-left: 10px;
}

.menuitemwrapper:hover{
    color:#1565C0;
    border-left:2px solid #1565C0;
    background: #1565c008;
}

.menuitemwrapper:focus{
    box-sizing: border-box;
    color:#1565C0;
    border-left:2px solid #1565C0;
    padding-left: 8px;
    background: #1565c008;
}

.hoverselected{
    box-sizing: border-box;
    color:#1565C0;
    border-left:2px solid #1565C0;
    padding-left: 8px;
    background: #1565c008;
}

.menuitem div{
    display: inline-block;
    margin-right: 10px;
    font-size: small;
    color:#333;
}

.badgecontainer{
    display: block;
}

.badge{
    background: #1565C0;
    color:white;
}

label{
    font-weight: bold;
    font-size: small;
}

th{
    font-weight: 400;
}

.primary{
    color:#1565C0;
}

.alternate{
    color:#26C6DA;
}