<section>
    <div class="row no-gutters">
        <div class="col-12 col-sm-4 col-md-2" *ngIf="navbarshow">
            <app-navbar></app-navbar>
        </div>
        <div class="col-12 col-sm-8 col-md-10" [ngClass]="{'col-12 col-sm-12 col-md-12':navbarshow==false}">
            <app-topbar></app-topbar>
            <section id="dashboardSection">

                <div class="row no-gutters">
                    <div class="col-md-5">
                        <div class="mainbox">
                            <p class="lead">LIVE CAMPAIGNS</p>
                            <div>
                                <table class="table table-sm table-condensed" style="font-size:smaller;">
                                    <thead class="headerbg">
                                        <tr>
                                            <th>Campaign Name</th>
                                            <th class="text-center">Phase</th>
                                            <th class="text-center">% Completed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>Winter Sale</b></td>
                                            <td class="text-center">
                                                <div class="broadcasting">
                                                    Broadcasting
                                                </div>
                                            </td>
                                            <td class="text-center"><b>30%</b></td>
                                        </tr>
                                        <tr>
                                            <td><b>Autumn Sale</b></td>
                                            <td class="text-center">
                                                <div class="scheduled">
                                                    Scheduled
                                                </div>
                                            </td>
                                            <td class="text-center"><b>0%</b></td>
                                        </tr>
                                        <tr>
                                            <td><b>Clearance Sale</b></td>
                                            <td class="text-center">
                                                <div class="extraction">
                                                    Extraction
                                                </div>
                                            </td>
                                            <td class="text-center"><b>0%</b></td>
                                        </tr>
                                        <tr>
                                            <td><b>Eid Mela</b></td>
                                            <td class="text-center">
                                                <div class="results">
                                                    Results
                                                </div>
                                            </td>
                                            <td class="text-center"><b>100%</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="mainbox">
                            <p class="lead">QUEUE</p>
                            <div>
                                <div class="progress" style="margin-top:35px; height:30px; border-radius:60px;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;background-color: #19cae0;">
                                        <span class="sr-only">70% Complete</span>
                                    </div>
                                </div>
                                <div style="text-align: center;
                                margin-top: 25px;
                                font-size: 16px;">
                                    <b>13</b> Days left
                                </div>
                                <hr>
                                <div>
                                    <div style="margin-top: 20px;
                                    padding: 15px;">
                                        <div style="display: flex;
                                        justify-content: space-between;"><span><i style="color: #0aa0cc;" class="fa fa-circle"></i>&nbsp;Total Broadcasts</span>
                                            <div>2000</div>
                                        </div>
                                        <div style="display: flex;
                                        justify-content: space-between;"><span><i style="color:#d6d6d6" class="fa fa-circle"></i>&nbsp;Remaining</span>
                                            <div>2000</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mainbox">
                            <p class="lead">ALARMS</p>
                            <div>
                                <table id="alarmstable" class="table table-sm table-condensed" style="font-size:smaller;">
                                    <thead class="headerbg">
                                        <tr>
                                            <th>Alarm Name</th>
                                            <th>Action Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Alarm # 1</td>
                                            <td class="bluecolor">Action Pending</td>
                                        </tr>
                                        <tr>
                                            <td>Alarm # 2</td>
                                            <td class="bluecolor">Action Taken</td>
                                        </tr>
                                        <tr>
                                            <td>Alarm # 3</td>
                                            <td class="bluecolor">Action Taken</td>
                                        </tr>
                                        <tr>
                                            <td>Alarm # 4</td>
                                            <td class="bluecolor">Action Completed</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row no-gutters" style="margin-top:10px;">
                    <div class="col-md-8">
                        <div class="mainbox">
                            <p class="lead">DISTRIBUTION LISTS</p>
                            <div>
                                <table class="table table-sm table-condensed" style="font-size:smaller;">
                                    <thead class="headerbg">
                                        <tr>
                                            <th>List Name</th>
                                            <th class="text-center">Profiling Parameters</th>
                                            <th class="text-center">Connection Type</th>
                                            <th class="text-center">Extraction Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>List # 1</b></td>
                                            <td class="text-center">
                                                <div style="margin:10px 0px 10px 0px">
                                                    <span class="icons"><i class="fa fa-female"></i></span>
                                                    <span class="icons"><i class="fa fa-male"></i></span>
                                                    <span class="icons"><i class="fa fa-signal"></i></span>
                                                    <span class="icons"><i class="fa fa-car"></i></span>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="connectiontype">POST / PRE-PAID</div>
                                            </td>
                                            <td class="text-center bluecolor">
                                                02:00 PM, January 2nd 2020
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>List # 2</b></td>
                                            <td class="text-center">
                                                <div style="margin:10px 0px 10px 0px">
                                                    <span class="icons"><i class="fa fa-female"></i></span>
                                                    <span class="icons"><i class="fa fa-male"></i></span>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="connectiontype">POST / PRE-PAID</div>
                                            </td>
                                            <td class="text-center bluecolor">
                                                02:00 PM, January 2nd 2020
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="mainbox">
                            <p class="lead">AUTO RESPONSES SENT</p>
                            <div>
                                <table id="alarmstable" class="table table-sm table-condensed" style="font-size:smaller;">
                                    <thead class="headerbg">
                                        <tr>
                                            <th>CAMPAIGN</th>
                                            <th class="text-center">RESPONSE RECV.</th>
                                            <th class="text-center">RESPONSE SENT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>Winter Sale</b></td>
                                            <td class="text-center">412</td>
                                            <td class="text-center bluecolor">32</td>
                                        </tr>
                                        <tr>
                                            <td><b>Autumn Sale</b></td>
                                            <td class="text-center">3092</td>
                                            <td class="text-center bluecolor">219</td>
                                        </tr>
                                        <tr>
                                            <td><b>Eid Mela</b></td>
                                            <td class="text-center">1202</td>
                                            <td class="text-center bluecolor">1000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <br><br>

            </section>
        </div>
    </div>
</section>