<section>
  <div class="row no-gutters">
    <div class="col-12 col-sm-4 col-md-2" *ngIf="navbarshow" style=" background-color: #2a3f54;">
      <app-navbar></app-navbar>
    </div>
    <div class="col-12 col-sm-8 col-md-10" [ngClass]="{'col-12 col-sm-12 col-md-12':navbarshow==false}" style="background: #F7F7F7">
      <app-topbar></app-topbar>
      <br>
      <section id="dashboardSection">

        <!-- topbar -->
        <div class="row">
          <div class="col-md-12" *ngIf="obj!=null">

            <div class="row" style="margin:0px 0px 0px 0px;">
              <div class="col-6 col-md-2" style=" margin-top: 5px;
              margin-bottom: 5px; padding-left:20px;">
                <div class="toptext">
                  <span><i class="fa fa-envelope-open"></i>&nbsp;SMS</span>
                </div>
                <div class="centertext">
                  {{obj.creditsms}}
                </div>
                <div class="bottomtext">
                  Throughput: <span style="color:#1ABB9C!important"><span><i class="fa fa-caret-up"></i></span>&nbsp;{{obj.smstp}}</span>
                </div>
              </div>
              <div class="col-6 col-md-2" style="border-left: 2px solid #ADB2B5;     margin-top: 5px;
              margin-bottom: 5px; padding-left:20px;">
                <div class="toptext">
                  <span><i class="fa fa-whatsapp"></i>&nbsp;WhatsApp</span>
                </div>
                <div class="centertext">
                  {{obj.creditwhatsapp}}
                </div>
                <div class="bottomtext">
                  Throughput: <span style="color:#1ABB9C!important"><span><i class="fa fa-caret-up"></i></span>&nbsp;{{obj.watp}}</span>
                </div>
              </div>
              <div class="col-6 col-md-2" style="border-left: 2px solid #ADB2B5;     margin-top: 5px;
                margin-bottom: 5px; padding-left:20px;">
                <div class="toptext">
                  <span><i class="fa fa-lock"></i>&nbsp;Encryption</span>
                </div>
                <div class="centertext">
                  <span style="color:#1ABB9C!important">{{obj.encryption}}</span>
                </div>
                <div class="bottomtext">
                  Expiry: {{obj.expirybundle.substring(0,obj.expirybundle.indexOf('T'))}}
                </div>
              </div>
              <div class="col-6 col-md-2" style="border-left: 2px solid #ADB2B5;     margin-top: 5px;
                  margin-bottom: 5px; padding-left:20px;">
                <div class="toptext">
                  <span><i class="fa fa-angle-right"></i>&nbsp;Heading</span>
                </div>
                <div class="centertext">
                  Value
                </div>
                <div class="bottomtext">
                  Subvalue
                </div>
              </div>
              <div class="col-6 col-md-2" style="border-left: 2px solid #ADB2B5;     margin-top: 5px;
              margin-bottom: 5px; padding-left:20px;">
                <div class="toptext">
                  <span><i class="fa fa-angle-right"></i>&nbsp;Heading</span>
                </div>
                <div class="centertext">
                  Value
                </div>
                <div class="bottomtext">
                  Subvalue
                </div>
              </div>
              <div class="col-6 col-md-2" style="border-left: 2px solid #ADB2B5;     margin-top: 5px;
          margin-bottom: 5px; padding-left:20px;">
                <div class="toptext">
                  <span><i class="fa fa-angle-right"></i>&nbsp;Heading</span>
                </div>
                <div class="centertext">
                  Value
                </div>
                <div class="bottomtext">
                  Subvalue
                </div>
              </div>
            </div>
          </div>
        </div>


        <br><br>

        <!-- quicksettingsrow -->
        <div class="row">
          <div class="col-md-12" style="padding:0px;">
            <div class="row" style="margin:0">

              <div class="col-md-4" style="margin:5px 0px 5px 0px">
                <div class="panel">
                  <div class="panelheader">
                    Quick Spotlight
                  </div>
                  <br>
                  <div class="panelcontent">
                    <div class="item" [routerLink]="['/messaging/compose/quick']">
                      <span><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Send Quick Message</span>
                    </div>
                    <div class="item" [routerLink]="['/messaging/compose/bulk']">
                      <span><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Send Bulk Message</span>
                    </div>
                    <div class="item" [routerLink]="['/messaging/compose/drip']">
                      <span><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Send Drip Message</span>
                    </div>
                    <div class="item" [routerLink]="['/messaging/compose/digital']">
                      <span><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Send WhatsApp Message</span>
                    </div>
                    <div class="item" [routerLink]="['/messaging/outbox']">
                      <span><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Open Outbox</span>
                    </div>
                    <div class="item" [routerLink]="['/messaging/sent']">
                      <span><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Check Sent</span>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <div class="col-md-4" style="margin:5px 0px 5px 0px">
                <div class="panel">
                  <div class="panelheader">
                    Network Usage
                  </div>
                  <br>
                  <div class="panelcontent">
                    <div class="pritem row" *ngIf="ufone!=null">
                      <div class="col-md-2 text-left align-self-center">
                        Ufone
                      </div>
                      <div class="col-md-8 text-center align-self-center">
                        <div class="progress">
                          <div class="progress-bar bg-green" role="progressbar" [attr.aria-valuenow]="ufone" aria-valuemin="0" aria-valuemax="30000" [ngStyle]="{width: ((ufone/30000)*100) + '%', transition: transition}">
                            <span class="sr-only">{{ufone}}% Complete</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 text-right  align-self-center" style="font-size: 20px;color: #73879C;" >
                          {{ufone > 999 ? (ufone/1000).toFixed(1) + 'k' : ufone}}
                      </div>
                    </div>

                    <div class="pritem row" *ngIf="telenor!=null">
                      <div class="col-md-2 text-left align-self-center">
                        Telenor
                      </div>
                      <div class="col-md-8 text-center align-self-center">
                        <div class="progress">
                          <div class="progress-bar bg-green" role="progressbar" [attr.aria-valuenow]="telenor" aria-valuemin="0" aria-valuemax="30000" [ngStyle]="{width: ((telenor/30000)*100) + '%', transition: transition}">
                            <span class="sr-only">{{telenor}}% Complete</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 text-right  align-self-center" style="font-size: 20px;color: #73879C;" >
                          {{telenor > 999 ? (telenor/1000).toFixed(1) + 'k' : telenor}}
                      </div>
                    </div>

                    <div class="pritem row" *ngIf="warid!=null">
                        <div class="col-md-2 text-left align-self-center">
                          Warid
                        </div>
                        <div class="col-md-8 text-center align-self-center">
                          <div class="progress">
                            <div class="progress-bar bg-green" role="progressbar" [attr.aria-valuenow]="warid" aria-valuemin="0" aria-valuemax="30000" [ngStyle]="{width: ((warid/30000)*100) + '%', transition: transition}">
                              <span class="sr-only">{{warid}}% Complete</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2 text-right  align-self-center" style="font-size: 20px;color: #73879C;" >
                            {{warid > 999 ? (warid/1000).toFixed(1) + 'k' : warid}}
                        </div>
                      </div>

                      <div class="pritem row" *ngIf="jazz!=null">
                          <div class="col-md-2 text-left align-self-center">
                            Jazz
                          </div>
                          <div class="col-md-8 text-center align-self-center">
                            <div class="progress">
                              <div class="progress-bar bg-green" role="progressbar" [attr.aria-valuenow]="jazz" aria-valuemin="0" aria-valuemax="30000" [ngStyle]="{width: ((jazz/30000)*100) + '%', transition: transition}">
                                <span class="sr-only">{{jazz}}% Complete</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2 text-right  align-self-center" style="font-size: 20px;color: #73879C;" >
                              {{jazz > 999 ? (jazz/1000).toFixed(1) + 'k' : jazz}}
                          </div>
                        </div>

                        <div class="pritem row" *ngIf="zong!=null">
                            <div class="col-md-2 text-left align-self-center">
                              Zong
                            </div>
                            <div class="col-md-8 text-center align-self-center">
                              <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" [attr.aria-valuenow]="zong" aria-valuemin="0" aria-valuemax="30000" [ngStyle]="{width: ((zong/30000)*100) + '%', transition: transition}">
                                  <span class="sr-only">{{jazz}}% Complete</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2 text-right  align-self-center" style="font-size: 20px;color: #73879C;" >
                              {{zong > 999 ? (zong/1000).toFixed(1) + 'k' : zong}}
                            </div>
                          </div>

                  </div>
                  <br>
                </div>
              </div>
              <div class="col-md-4" style="margin:5px 0px 5px 0px">
                <div class="panel">
                  <div class="panelheader">
                    Feature Usage &nbsp;&nbsp;<span *ngIf="featureusage == true"><i class="fa fa-spinner fa-spin"></i></span>
                  </div>
                  <br>
                  <div class="panelcontent">


                    <div style="display: -webkit-box;">
                      <table style="width:50%">
                        <tr>
                          <td>
                            <div style="padding-left:35px; font-weight:bold">
                              Top Features
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div style="width:180px;height:auto;position:relative" *ngIf="doughnutChartData.length>0">
                              <canvas baseChart style="position: relative;
                                    left: -40px;
                                    width:230px;
                                    top: 15px;" [colors]="donutColors" [data]="doughnutChartData" [options]="doughnutChartOptions"
                                [labels]="doughnutChartLabels" [legend]="doughnutChartLegend" [chartType]="doughnutChartType">
                              </canvas>
                            </div>
                          </td>
                        </tr>
                      </table>


                      <table style="width:50%; position:relative;background:#fff">
                        <tr>
                          <td style="font-weight:bold">Feature</td>
                          <td style="font-weight:bold">Usage</td>
                        </tr>
                        <tr>
                          <td class="tdclass">
                            <span><i style="color:rgba(231, 76, 60, 1)"  class="fa fa-square"></i>&nbsp;&nbsp;Quick</span>
                          </td>
                          <td class="tdclass">
                              {{quick > 999 ? (quick/1000).toFixed(1) + 'k' : quick}}
                          </td>
                        </tr>
                        <tr>
                          <td class="tdclass">
                            <span><i style="color:rgba(52, 152, 219, 1)"  class="fa fa-square"></i>&nbsp;&nbsp;Bulk</span>
                          </td>
                          <td class="tdclass">
                              {{bulk > 999 ? (bulk/1000).toFixed(1) + 'k' : bulk}}
                          </td>
                        </tr>
                        <tr>
                          <td class="tdclass">
                            <span><i style="color:rgba(155, 89, 182, 1)"  class="fa fa-square"></i>&nbsp;&nbsp;Drip</span>
                          </td>
                          <td class="tdclass">
                              {{drip > 999 ? (drip/1000).toFixed(1) + 'k' : drip}}
                          </td>
                        </tr>
                        <tr>
                          <td class="tdclass">
                            <span><i style="color:rgba(26, 187, 156, 1)"  class="fa fa-square"></i>&nbsp;&nbsp;WhatsApp</span>
                          </td>
                          <td class="tdclass">
                              {{digital > 999 ? (digital/1000).toFixed(1) + 'k' : digital}}
                          </td>
                        </tr>

                      </table>
                    </div>

                  </div>
                  <br>
                </div>
              </div>

            </div>
          </div>
        </div>

        <br>


        <!-- bottom fullwidth chart -->
        <div class="row">
          <div class="col-md-12" style="margin:5px 0px 5px 0px">
            <div class="panel">
              <div class="panelheader">
                Bandwidth Usage Details &nbsp;&nbsp;<span *ngIf="bandwidthusage == true"><i class="fa fa-spinner fa-spin"></i></span>
              </div>
              <br>
              <div class="panelcontent row no-gutters">

                <div class="col-md-10">
                  <div style="height:auto" *ngIf="lineChartData.length == 2">
                      <canvas baseChart  width="auto" height="90" 
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"></canvas>
                  </div>
                    
                </div>

                <div class="col-md-2">
                    <div class="panel" style="border:0px;">
                      <div class="panelheader text-center">
                        Sent / Outbox
                      </div>
                      <br>
                      <div class="panelcontent" *ngIf="sent!=null">
                          <br>
                          <div class="text-center">
                            <div class="toptext">
                              <span ><i style="color: #1ABB9C!important;" class="fa fa-rocket"></i>&nbsp;&nbsp;Sent</span>
                            </div>
                            <div class="centertext">
                                {{sent > 999 ? (sent/1000).toFixed(1) + 'k' : sent}}
                            </div>
                            
                          </div>
                          <hr>
                          <div class="text-center" *ngIf="outbox!=null">
                              <div class="toptext">
                                <span  ><i style="color: #1ABB9C!important;" class="fa fa-send"></i>&nbsp;&nbsp;Outbox</span>
                              </div>
                              <div class="centertext" >
                                  {{outbox > 999 ? (outbox/1000).toFixed(1) + 'k' : outbox}}
                              </div>
                              
                            </div>
    
                      </div>
                      <br>
                    </div>
                  </div>

              </div>
              <br>
            </div>
          </div>
        </div>
        <br><br>

      </section>
    </div>
  </div>
</section>