section{
    font-size: small;
    box-sizing: border-box;
    margin:0px 25px 0px 25px;
}



#sender{
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: white;
    font-weight: bold;
}

.btn{
    font-size: small;
    margin: 5px;
}

.form-control{
    font-size: small;
    border-radius: 0px;
}

.item{
    display: inline-flex;
    color:#444;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.item:hover{
    cursor: pointer;
    background: #1565c008;
}

.thumbnail{
    display: inline-block;
}

.desc{
    display: inline-block;
    font-size: small;
    padding-left: 10px;
}

.desc label{
    margin:0px;
}

.desc p{
    margin: 0px;
}

.desc small{
    color:#1565C0;
}

#inboxSection{
    height: 210px;
    /* background:green; */
    overflow-y: auto;
}

#quickSection{
    /* background:red; */
    overflow-y: auto;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    /* background: #e0e0e0; */
}

#writeSection{
    box-sizing: border-box;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
}

.footer{
    background-color:#e6e6e6;
}

#quickcontainer{
    display: block;
    padding:5px;
}

#quickcontainer p{
    margin:0px;
    padding-left:5px;
    font-size: x-small;
    padding-bottom: 5px;
}

.quick{
    padding:5px;
    display: inline-block;
    margin:3px;
    font-size: small;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,.1);
}

.text{
    color: #333;
}

#newquick{
    color: #333;
    position: absolute;
    top:4px;
    right:5px;
    z-index: 5;
    cursor: pointer;
}

.left{
    display: inline-flex;
    padding: 5px;
}

.left .carot{
    display: inline-block;
    color: #abdde5;
}

.left .msg{
    font-size: small;
    padding: 5px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,.1);

    background: #abdde5;
    color:#333;
}

.msg p{
    margin: 0px;
}



.right{
    display: inline-flex;
    padding: 5px;
    float: right;
}

.right .carot{
    display: inline-block;
    color: rgba(0,0,0,.1);
}

.right .msg{
    font-size: small;
    padding: 5px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,.1);
}

.messageContainer{
    clear: both;
}












section{
    font-size: small;
    box-sizing: border-box;
}

.form-control{
    font-size: small;
}

.btn{
    font-size: small;
}

.btn-danger{
    font-size: x-small;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-primary{
    background-color: #1565C0;

}

.clearfix{
    height:10px;
}

#file{
    font-size: x-small;
}

th{
    font-weight: 400;
}

.primary{
    color:#1565C0;
}

.alternate{
    color:#26C6DA;
}