#dashboardSection {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    font-size: small;
    box-sizing: border-box;
    min-height: 800px;
}

.bubble {
    max-height: 360px;
    width: 175px;
    font-size: smaller;
    position: absolute;
    top: 140px;
    left: 43px;
    padding: 5px;
    /* margin-left: 70px; */
    /* margin-right: 0px; */
    overflow-y: auto;
    display: block;
    background: #147B67;
    color: whitesmoke;
    white-space: pre-line;
    overflow-wrap: break-word;
}

.topbar {
    text-align: center;
    width: 237px;
    font-size: smaller;
    position: absolute;
    top: 87px;
    right: 24px;
    /* padding: 5px; */
    /* margin-left: 70px; */
    margin-right: 0px;
    overflow-y: auto;
    display: block;
    background: #e0e0e0;
    color: whitesmoke;
}

.topbarmask {
    text-align: center;
    width: 237px;
    font-size: small;
    position: absolute;
    top: 104px;
    right: 24px;
    margin-right: 0px;
    overflow-y: auto;
    display: block;
    background: #2a3f54;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* .col-md-5,
.col-md-3,
.col-md-12,
.col-md-4,
.col-md-8 {
    padding: 0px 10px 0px 10px;
} */

.pagetitle {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left: 5px;
}

.spotlightbox {
    border-left: 5px solid blue;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: orange;
    align-items: center;
    box-sizing: border-box;
}

.spotlightfirsthalf {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.spotlightsecondhalf {
    margin-right: 10px;
    font-size: 14px;
}

.slfhfd {
    margin-left: 10px;
    font-size: 22px;
}

.slfhsd {
    margin-left: 10px;
}

.spotlighttitle {
    font-size: medium;
    font-weight: bold;
    color: blue;
}

.leftbox {
    height: 90px;
    background: cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-left: 5px solid blue;
    box-sizing: border-box;
    margin-bottom: 15px;
    cursor: pointer;
}

.lbl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.lbltitle {
    font-size: 16px;
    font-weight: bold;
}

.lblstatus {
    font-size: 12px;
}

.lbr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.lbrfd {
    /* text-align: right; */
    font-size: smaller;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.smallgraphcontainer {
    width: 110px;
    height: 40px;
    background: orange;
}

.active {
    border-left: 5px solid blue;
    background: aliceblue;
}

.nactive {
    border-left: 0px solid blue;
    background: white;
}

.actiontd {
    background: blue;
    color: white;
    text-align: center;
}

tr th {
    font-size: smaller;
    font-weight: bold;
}

.lead {
    font-size: small;
    font-weight: bold;
}

.menuitemscontainer {
    /* display: inline-block; */
}

.toptext {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    color: #73879C;
}

.centertext {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
    color: #73879C;
    text-transform: capitalize;
}

.bottomtext {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    color: #73879C;
}

.bg-green {
    background: #1ABB9C!important;
    border: 1px solid #1ABB9C!important;
    color: #fff;
}

.progress {
    border-radius: 0;
}

.pritem {
    padding: 0px 0px 4px 0px;
}

.tdclass {
    padding-top: 15px;
}

.panel {
    background: white;
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    padding: 10px 17px;
    border: 1px solid #E6E9ED;
    opacity: 1;
    transition: all .2s ease;
    min-height: 270px;
}

.panelheader {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
}

.panelcontent {
    position: relative;
}

.item {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    padding-bottom: 10px;
    cursor: pointer;
}

.item:hover {
    color: #333;
}

.cardbg {
    color: white;
    background-color: #2f3d5a;
    /* background: linear-gradient(to right, #182848, #1565C0); */
}

.menuitemwrapper {
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

.menuitemwrapper:hover {
    color: #1565C0;
    border-left: 2px solid #1565C0;
    background: #1565c008;
}

.menuitemwrapper:focus {
    box-sizing: border-box;
    color: #1565C0;
    border-left: 2px solid #1565C0;
    padding-left: 8px;
    background: #1565c008;
}

.hoverselected {
    box-sizing: border-box;
    color: #1565C0;
    border-left: 2px solid #1565C0;
    padding-left: 8px;
    background: #1565c008;
}

.menuitem div {
    display: inline-block;
    margin-right: 10px;
    font-size: small;
    color: #333;
}

.badgecontainer {
    display: block;
}

.badge {
    background: #1565C0;
    color: white;
}

label {
    font-weight: bold;
    font-size: small;
}

th {
    font-weight: 400;
}

.primary {
    color: #1565C0;
}

.alternate {
    color: #26C6DA;
}

.broadcasting {
    padding: 5px;
    display: inline-block;
    width: 80px !important;
    background: #0590c4;
    color: white;
}

.scheduled {
    padding: 5px;
    display: inline-block;
    width: 80px !important;
    background: #18c6df;
    color: white;
}

.extraction {
    padding: 5px;
    display: inline-block;
    width: 80px !important;
    background: #008d9c;
    color: white;
}

.results {
    padding: 5px;
    display: inline-block;
    width: 80px !important;
    background: #768082;
    color: white;
}

.table td {
    vertical-align: middle;
}

td {
    padding: 10px 5px;
}

.mainbox {
    background: white;
    box-sizing: border-box;
    padding: 15px;
    min-height: 310px;
    box-shadow: 0px 0px 4px 0px #d6d6d6;
}

.connectiontype {
    background: #0693c6;
    color: white;
    display: inline;
    padding: 5px;
}

.icons {
    border: 1px solid #0693c6;
    padding: 5px 8px;
    border-radius: 15px;
    color: white;
    background: #1bd0e3;
}

.bluecolor {
    color: #0693c6;
}

body {
    background-color: #666;
    margin: 100px 50px;
}

[slider] {
    position: relative;
    height: 14px;
    border-radius: 10px;
    text-align: left;
    margin: 10px 0 10px 0;
}

[slider]>div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 14px;
}

[slider]>div>[inverse-left] {
    position: absolute;
    left: 0;
    height: 14px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}

[slider]>div>[inverse-right] {
    position: absolute;
    right: 0;
    height: 14px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}

[slider]>div>[range] {
    position: absolute;
    left: 0;
    height: 14px;
    border-radius: 14px;
    background-color: #18C9E0;
}

[slider]>div>[thumb] {
    position: absolute;
    top: -7px;
    z-index: 2;
    height: 28px;
    width: 28px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #FFF;
    border-radius: 50%;
    outline: none;
}

[slider]>input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

div[slider]>input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider]>input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider]>input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}

div[slider]>input[type=range]:focus {
    outline: none;
}

div[slider]>input[type=range]::-ms-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider]>input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider]>input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}

div[slider]>input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}

div[slider]>input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}

div[slider]>input[type=range]::-ms-tooltip {
    display: none;
}

[slider]>div>[sign] {
    opacity: 0;
    position: absolute;
    margin-left: -11px;
    top: -39px;
    z-index: 3;
    background-color: #18C9E0;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

[slider]>div>[sign]:after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 16px;
    top: 19px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: #18C9E0;
}

[slider]>div>[sign]>span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
}

[slider]:hover>div>[sign] {
    opacity: 1;
}

.independent {
    margin: 5px;
    border-radius: 15px;
    background-color: #18c9e0;
    color: white;
}

.blocked {
    background: none;
    cursor: default;
    color: #333;
}

#newlist .col-md-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #e0e0e0;
}

#newlist .row {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
}