section{
    box-sizing: border-box;
    border-right: 1px solid rgba(0,0,0,.1);
    
}

#searchbar{
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.form-control{
    font-size: small;
    border-radius: 0px;
    border:none;
}

.item{
    display: inline-flex;
    color:#444;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.item:hover{
    cursor: pointer;
    background: #1565c008;
}

.thumbnail{
    display: inline-block;
}

.desc{
    display: inline-block;
    font-size: small;
    padding-left: 10px;
}

.desc label{
    margin:0px;
}

.desc p{
    margin: 0px;
}

.desc small{
    color:#1565C0;
}