<section id="dashboard">
  <p class="lead"><u> Summary</u></p>
  <p class="text-muted">Total # of jobs created for each respective category</p>

      <div class="row" *ngIf="2==1">
        <div class="col-md-12">
            <div *ngIf="doughnutChartData.length>0" class="col-md-8 offset-md-2">
                <div style="display: block">
                    <canvas baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType">
                    </canvas>
                  </div>
            </div>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-12">
            <div  *ngIf="doughnutChartData.length>0" class="col-md-8">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
        </div>
      </div>

  <!-- <div class="row">
    <div class="col-md-12">

        <section id="quick">
          <div class="row">
            <div class="col-md-10">
                <div>
                    <div class="table-responsive">
                        <p class="text-muted"><u>Quick</u></p>
                        <table class="table table-sm table-condensed table-bordered table-hover">
                            <thead>
                              <tr class="table-info">
                                <th>Name</th>
                                <th>Message</th>
                                <th>Created</th>
                                <th>Sent</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of quickArr">
                                <td>{{item._id}}</td>
                                <td class="text-muted">{{item.quick[0].msg}}</td>
                                <td class="text-muted">{{item.quick[0].created}}</td>
                                <td class="text-muted">{{item.quick.length}}</td>
                                <td class="text-muted">Sent</td>
                                <td class="text-muted text-danger"><button (click)="removequick(item._id)" class="btn btn-danger"><span>Delete <i class="fa fa-times"></i></span></button></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
            </div>
          </div>
            
        </section>


        <section id="bulk">
          <div class="row">
            <div class="col-md-10">
                <div>
                    <div class="table-responsive">
                        <p class="text-muted"><u>Bulk</u></p>
                        <table class="table table-sm table-condensed table-bordered table-hover">
                            <thead>
                              <tr class="table-info">
                                <th>Name</th>
                                <th>Message</th>
                                <th>Type</th>
                                <th>Created</th>
                                <th>Campaign</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of bulkArr">
                                <td>{{item.name}}</td>
                                <td class="text-muted">{{item.msg}}</td>
                                <td class="text-muted">{{item.type}}</td>
                                <td class="text-muted">{{item.created}}</td>
                                <td class="text-muted">{{item.campaign}}</td>
                                <td class="text-muted">sent</td>
                                <td class="text-muted text-danger"><button class="btn btn-danger" (click)="removebulk(item.name)"><span>Delete <i class="fa fa-times"></i></span></button></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
          </div>

        </section>


        <section id="drip">
          <div class="row">
            <div class="col-md-10">  
                <div>
                    <div class="table-responsive">
                        <p class="text-muted"><u>Drip</u></p>
                        <table class="table table-sm table-condensed table-bordered table-hover">
                            <thead>
                              <tr class="table-info">
                                <th>Name</th>
                                <th>Message</th>
                                <th>Created</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Campaign</th>
                                <th>Payload</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of dripArr">
                                <td>{{item.name}}</td>
                                <td class="text-muted">{{item.msg}}</td>
                                <td class="text-muted">{{item.created}}</td>
                                <td class="text-muted">{{item.datefrom}}</td>
                                <td class="text-muted">{{item.dateto}}</td>
                                <td class="text-muted">{{item.campaign}}</td>
                                <td class="text-muted">
                                  <span *ngFor="let payload of item.timespayload">
                                    ({{payload.time}} : {{payload.status}})
                                  </span>
                                </td>
                                <td class="text-muted">{{item.status}}</td>
                                <td class="text-muted text-danger"><button (click)="removedrip(item.name)" class="btn btn-danger"><span>Delete <i class="fa fa-times"></i></span></button></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
          </div>
            
        </section>
      


    </div>

    <div class="col-md-4">

    </div>
  </div> -->

</section>
