<section>
  <form (submit)="registerissue()">

  <p class="lead"><u>Create New Ticket</u></p>
  <br>
  <div class="row">
    <div class="col-md-6 form-group">
      <div class="form-group">
        <label>Select Mask/Shortcode</label>
        <select tabindex="1" [(ngModel)]="maskforiegn" (change)="maskchange($event)" name="maskforiegn" id="" class="form-control form-control-sm" required>
          <option value="" disabled selected>Select Mask/Shortcode</option>
          <option value="nomask" >It is not a masking/shortcode issue!</option>
          <option [value]="item.mask" *ngFor="let item of masksArr">{{item.mask}} ({{item.type}})</option>
        </select>
      </div>
      <div class="form-group">
        <label>Reason for a problem</label>
        <input tabindex="3" type="text" [(ngModel)]="problem" name="problem" id="" class="form-control" placeholder="Enter reason for a problem .." required>
      </div>
      <div class="form-group">
          <label>Select Problematic Feature</label>
          <select tabindex="2" name="feature" [(ngModel)]="feature" (change)="featurechange($event)" class="form-control form-control-sm" required>
            <option value="" disabled selected>Select Type</option>
            <option value="send">Message Sending</option>
            <option value="receive">Message Receiving</option>
            <option value="delivery">Message Delivery</option>
          </select>
        </div>
        <div class="form-group">
          <label>Remarks over the issue</label>
          <input tabindex="4" type="text" [(ngModel)]="remarks" name="remarks" id="" class="form-control" placeholder="Enter Remarks over the issue .." required>
        </div>
      <div class="form-group">
        <br>
        <input tabindex="5" type="submit" class="btn btn-primary" value="Report Problem">
      </div>
    </div>
  </div>


</form>
</section>



