<section id="quickSection">
  <form (submit)="register()">
    <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input tabindex="1" type="text" [(ngModel)]="name" name="name" id="name" class="form-control" placeholder="Enter name for this notifciation .." required>
                <small class="text-muted">This name will be used to identify this operation.</small>
            </div>
            <div class="form-group">
                <label for="subject">Select masking</label>
                <select (change)="maskingchange($event)" required tabindex="3" name="masking" [(ngModel)]="masking" id="masking" class="form-control">
                  <option value="" disabled selected>Select masking</option>
                  <option value="Test">Test</option>
                </select>
            </div>
            <div class="form-group">
                <label for="language">Select Language</label>
                <select (change)="langchange($event)" tabindex="4" name="language" [(ngModel)]="language" required id="language" class="form-control">
                  <option value="" disabled selected>Select Language</option>
                  <option value="english">English</option>
                  <option value="urdu">Urdu</option>
                </select>
            </div>
            <div class="form-group">
                <label for="msg">Message / SMS</label>
                <textarea (input)="msgchange($event)" required tabindex="6" name="msg" [(ngModel)]="msg" id="" cols="30" rows="4" class="form-control"></textarea>
                <small class="text-muted">Characters Count: <span class="msghelper">{{msgchars}}</span>&nbsp;Messages: <span class="msghelper">{{msgcount}}</span> </small>
            </div>

          </div>
          <div class="col-md-6 form-group">

            <div tabindex="7" class="form-group">
                <label>Double Locking</label>
                <br>
                <label class="radio-inline">
                  <input type="radio" name="locking" required value="enabled" (change)="lockchange($event)" required> Enabled
                </label>&nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                  <input type="radio" name="locking" required value="disabled"  (change)="lockchange($event)" required> Disabled
                </label>
            </div>

            <div class="form-group">
                <label for="account">Account #</label>
                <input tabindex="8" type="text" [(ngModel)]="account" name="account" id="account" class="form-control" placeholder="Enter account number .." required>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input tabindex="9" type="password" (input)="pc($event)" [(ngModel)]="password" name="password" id="password" class="form-control" placeholder="Enter account number .." required>
            </div>
            <div class="form-group">
              <input type="button" value="Verify" class="btn btn-dark btn-sm" (click)="verify()"><span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            </div>
            <div class="form-group text-center">
                
                <hr>
                  <input [disabled]="!verified" tabindex="11" type="submit" value="Send Message" class="btn btn-primary">
                <hr>
              </div>

          </div>            
  
    </div>
  </form>
  </section>
  
  