<app-topbar></app-topbar>

<br>
<section id="reportingSection">
  <div class="row">
    <div class="col-md-2">
        <app-navbar></app-navbar>
    </div>
    <div class="col-md-10" style="border-left: 1px solid rgba(0,0,0,.1)">
        <p class="lead"><u>Generate Report</u></p>
      <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="type">Operation Type</label>
                <select (change)="opchange($event)" name="" id="" class="form-control">
                  <option value="type" disabled selected>Select Type</option>
                  <option value="quick">Quick</option>
                  <option value="bulk">Bulk</option>
                  <option value="drip">Drip</option>
                  <option value="digital">WhatsApp</option>
                </select>
              </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="type">Account</label>
              <select class="form-control" (change)="childchange($event)">
                <option value="empty" disabled selected>Select Account</option>
                <option value={{localemail}} >Master ({{localemail}})</option>
                <option *ngFor="let item of childsArr" [value]="item.email">{{item.fullname}} ({{item.email}})</option>
              </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="type">From </label>
                <input type="text" [(ngModel)]="datefrom" class="form-control">
                <small>Select from date/time</small>
              </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="type">To</label>
                <input type="text" [(ngModel)]="dateto" class="form-control">
                <small>Select to date/time</small>
              </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="type">Action</label>
                <input [disabled]="spinner" type="button" (click)="report()" value="Generate Report" class="btn btn-primary">
                <small *ngIf="notfound">No data found.</small>
                <small *ngIf="spinner">Please wait .. <span><i class="fa fa-spinner fa-spin fa-1x"></i></span></small>
              </div>
        </div>
        <div class="col-md-2" *ngIf="downloadable.length>0">
            <div class="form-group">
                <label for="type">Download</label>
                <div><small><span (click)="download()" style="color:green;cursor:pointer;"><i class="fas fa-file-excel-o fa-3x"></i></span></small></div>

              </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-10">
          <div class="row">
              <div *ngIf = "barChartData.length > 0" class="col-md-9" style="border-left:1px solid rgba(0,0,0,.1)">
                  <div style="display: block">
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
                <div class="col-md-2" style="display:none" *ngIf="downloadable.length>0">
                  <small>Download the excel file for this report</small>
                  <span (click)="download()" style="color:green;cursor:pointer;"><i class="fas fa-file-excel-o"></i></span>
                </div>
          </div>
        </div>

      </div>







        

        
    </div>

  </div>
</section>