<section id="quickSection">
  <form (submit)="register()">
      <p class="lead"><u>Create Campaign</u></p>
  <div class="row">
        
        <div class="col-md-6">
            <div class="form-group">
                <div><label>Preference</label></div>
                <label class="radio-inline">
                  <input type="radio" [(ngModel)]="preference" (change)="prefchange($event)" name="preference" value="topic" required> To Topic
                </label>&nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                  <input type="radio" [(ngModel)]="preference" name="preference" (change)="prefchange($event)" value="db" required> To DB
                </label>
            </div>
            <div class="form-group" *ngIf="preferenceselected">
                <label for="subject">Select Topic</label>
                <select name="topic" [(ngModel)]="topic" id="topic" class="form-control">
                  <option value="none" disabled selected>Select topic</option>
                </select>
            </div>
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" [(ngModel)]="name" id="name" class="form-control" placeholder="Enter name for this notifciation .." required>
              <small class="text-muted">This name will be used to identify this campaign.</small>
          </div>
          <div class="form-group">
              <label for="subject">Select category</label>
              <select name="category" [(ngModel)]="category" id="subject" class="form-control" required>
                  <option value="" disabled selected>Select category</option>
                  <option value="electricity">Electricity</option>
                  <option value="security">Security</option>
                  <option value="water">Water</option>
                  <option value="gas">Gas</option>
                  <option value="misc">Misc</option>
              </select>
          </div>
          <div class="form-group">
              <label for="language">Select Language</label>
              <select name="language" [(ngModel)]="language" id="language" class="form-control" required>
                <option value="" disabled selected>Select Language</option>
                <option value="english">English</option>
                <option value="urdu">Urdu</option>
              </select>
          </div>

        </div>
        <div class="col-md-6 form-group">
          <div class="form-group">
              <label for="template">Select Template</label>
              <select id="template" (change)="templatechange($event)" class="form-control">
                <option value="" disabled selected>Select Template</option>
                <option   *ngFor = "let item of templatesArr" [value]="item.desc">{{item.name}}</option>
              </select>
          </div>
          <div class="form-group">
              <label for="msg">Message / SMS</label>
              <input type="text" name="message" [(ngModel)]="message" id="msg" class="form-control" (change)="k($e)"  placeholder="Enter text here" required>
              <small class="text-muted">Characters: <span class="msghelper">{{messagelen}}</span> </small>
          </div>
          <div class="form-group text-center">
            <br><br><br>
            <hr>
              <input type="submit" value="Send Notification" class="btn btn-primary">
            <hr>
          </div>
        </div>            

  </div>
</form>
</section>
