<app-topbar></app-topbar>

<br>
<section id="hybridsection">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar>
      <div class="menuitemscontainer" style="display:none">
          <!-- compose -->
          <div class="menuitemwrapper" [routerLink]="['./compose']"  routerLinkActive="hoverselected" >
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-plus-circle"></i></span>
                </div>
                <div>
                  Compose
                </div>
            </div>
          </div>

          <!-- inbox -->
          <div class="menuitemwrapper" [routerLink]="['./inbox']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-envelope"></i></span>
                </div>
                <div>
                  Inbox
                </div>
                <div>
                  <span class="badge">10</span>
                </div>
            </div>
          </div>

          <!-- inbox -->
          <div class="menuitemwrapper" [routerLink]="['./outbox']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-tasks"></i></span>
                </div>
                <div>
                  Outbox
                </div>
                <div>
                  <span class="badge">5</span>
                </div>
            </div>
          </div>

          <!-- inbox -->
          <div class="menuitemwrapper" [routerLink]="['./sent']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-paper-plane"></i></span>
                </div>
                <div>
                  Sent
                </div>
                <div>
                  <span class="badge">2</span>
                </div>
            </div>
          </div>
          
          <hr>

          <div class="menuitemwrapper" [routerLink]="['./dashboard']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-anchor"></i></span>
                </div>
                <div>
                  Dashboard
                </div>
            </div>
          </div>

          <div class="menuitemwrapper" *ngIf="required" [routerLink]="['./templates']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-bullseye"></i></span>
                </div>
                <div>
                  Templates
                </div>
            </div>
          </div>
          
          
      </div>
    </div>
    <div class="col-md-10" style="border-left:1px solid rgba(0,0,0,.1)">
      <div class="menuitemsviewscontainer">
          <router-outlet></router-outlet>
      </div>
      
    </div>
  </div>
</section>