<section id="loginSection">
    <div class="masterlogin">
        <div class="row">
            <div class="col-md-6">
                <div class="loginleft">
                    <div class="loginleftcontainer">
                        <img class="loginImg" src="assets/imgs/telenorlogo.png" alt="">
                        <div class="leadtext">
                            Don't have an
                        </div>
                        <div class="leadtext">
                            account?
                        </div>
                        <div class="small">
                            Please create an account by clicking the button below
                        </div>
                        <div>
                            <input [routerLink]="['../register']" type="button" value="Sign Up" class="secondarybtn">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="loginright">
                    <div class="loginrightcontainer">
                        <div class="leadtext">
                            Welcome to Telenor
                        </div>
                        <div class="leadtext">
                            SMS Portal.
                        </div>
                        <div class="small">
                            Please log in to your account
                        </div>
                        <div>
                            <form (submit)="onLogin()">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" [(ngModel)]="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>
                                    <!-- <small id="emailHelp" class="form-text text-muted">By signing in, you declare to abide by the terms and conditions of this platform.</small> -->
                                </div>
                                <div class="form-group submitbtncontainer">
                                    <div style="display:flex">
                                        <label for="rememberme" class="rememberme"><input type="checkbox" name="rememberme" id="rememberme">&nbsp;Remember Me</label>
                                    </div>
                                    <div>
                                        <button [disabled]="sent==true" type="submit" class="primarybtn">Login</button>
                                    </div>

                                    <!-- <div class="clearfix"></div> -->
                                    <!-- <button class="btn btn-default" [routerLink]="['../register']">Want to Join? Sign Up</button> -->
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>







<section id="loginSection" style="display:none">
    <div>
        <form (submit)="onLogin()">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" [(ngModel)]="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>
                <small id="emailHelp" class="form-text text-muted">By signing in, you declare to abide by the terms and conditions of this platform.</small>
            </div>
            <div class="form-group">
                <button [disabled]="sent==true" type="submit" class="btn btn-primary">Login</button>
                <div class="clearfix"></div>
                <button class="btn btn-default" [routerLink]="['../register']">Want to Join? Sign Up</button>
            </div>

        </form>
    </div>
</section>