<section id="quickSection">
  <form (submit)="registerwhatsapp()">
    <p class="lead"><u>Compose WhatsApp Message</u></p>
    <br>
  <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Name</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" [(ngModel)]="name" name="name" required id="name" class="form-control" placeholder="Enter name for this operation ..">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Select Language</label>
                </div>
                <div class="col-12 col-md-9">
                    <select [(ngModel)]="language" name="language" id="language"  class="form-control form-control-sm">
                        <option value="" disabled selected>Select Language</option>
                        <option value="english">English</option>
                        <option value="urdu">Urdu</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Operation Type</label>
                </div>
                <div class="col-12 col-md-9">
                    <label class="radio-inline" style="margin:0; font-weight:350">
                        <input type="radio" (change)="opchange($event)" name="optype" value=""> No Template
                      </label>&nbsp;&nbsp;&nbsp;
                      <label class="radio-inline" style="margin:0; font-weight:350">
                        <input type="radio" name="optype" (change)="opchange($event)" value="static"> Static Template
                      </label>&nbsp;&nbsp;&nbsp;
                      <label class="radio-inline" style="margin:0; font-weight:350">
                        <input type="radio" name="optype" (change)="opchange($event)" value="dynamic"> Dynamic Template
                      </label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Campaign Name</label>
                </div>
                <div class="col-12 col-md-9">
                    <select (change)="campaignchange($event)" name="campaign" id="campaign" class="form-control form-control-sm">
                        <option value="" disabled selected>Select Campaign</option>
                        <option *ngFor="let item of campaignsArr" [value]="item.path">{{item.name}}</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Select Template</label>
                </div>
                <div class="col-12 col-md-9">
                    <select (change)="templatechange($event)" name="template" id="template" class="form-control form-control-sm">
                        <option value="" disabled selected>Select Template</option>
                        <option *ngFor="let item of templatesArr" [value]="item.description">{{item.name}}</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Message / SMS</label>
                </div>
                <div class="col-12 col-md-9">
                    <textarea (change)="msgchange()" (input)="msgchange()" [(ngModel)]="msg" name="msg" id="" cols="30" rows="4" class="form-control" required></textarea>
                    <small class="text-muted">Characters: <span class="msghelper">{{msgchars}}</span> &nbsp;&nbsp;</small>
                </div>                
            </div>
            <div class="form-group text-center">
                <div class="clearfix"></div>
                <hr>
                  <input type="submit" value="Send WhatsApp Messages" class="btn btn-primary">
                <hr>
              </div>

        </div>
        <div class="col-md-4">


            <div style="position:relative;width:287px;" class="d-block mx-auto">
                <div class="topbar"><img src="assets/imgs/status.png" style="width:100%" alt="status"></div>  
                <div class="topbarmask">WhatsApp</div>  
                <div class="background"><img style="width:100%;height:100%" src="assets/imgs/wa.png" alt="status"></div>
                <span *ngIf="msg.length>0" style="position: absolute;
                top: 140px;
                left: 35px;
                color:whitesmoke;
                z-index: 0;"><i class="fa fa-caret-left fa-2x"></i></span>
                <div class="bubble" *ngIf="msg.length>0" [innerHTML]="'Mango Tree\n' + msg">
                  <p>Name</p>
                </div>
                <img src="assets/imgs/phone.png" class="img img-responsive" alt="Phone Deme">
              </div>
          




        </div>            

  </div>
</form>
</section>


