#quickSection{
    padding-left: 25px;
    padding-right: 25px;
    font-size: small;
    box-sizing: border-box;
}

.background{
    position: absolute;
    height: 420px;
    width: 237px;
    top: 87px;
    margin-left: 26px;
    z-index: 0
}

.bubble{
    max-height: 360px;
    width: 175px;
    font-size: smaller;
    position: absolute;
    top: 145px;
    left: 43px;
    padding: 5px;
    /* margin-left: 70px; */
    /* margin-right: 0px; */
    overflow-y: auto;
    display: block;
    background: whitesmoke;
    color: #222222;
    white-space: pre-line;
    overflow-wrap: break-word;
    z-index: 1;
}

.bubble::first-line{
    color:orange;
    font-weight: 700;
}

.topbar{
    text-align: center;
    width: 237px;
    font-size: smaller;
    position: absolute;
    top: 87px;
    right: 24px;
    /* padding: 5px; */
    /* margin-left: 70px; */
    margin-right: 0px;
    overflow-y: auto;
    display: block;
    background: #e0e0e0;
    color: whitesmoke;
    z-index: 1;
}

.topbarmask{
    text-align: left;
    padding-left:5px;
    width: 237px;
    font-size: small;
    position: absolute;
    top: 104px;
    right: 24px;
    margin-right: 0px;
    overflow-y: auto;
    display: block;
    background: #075E54;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


label{
    font-size: small;
    font-weight: 450;
}

.form-control{
    font-size: small;
}

.btn{
    font-size: small;
}

.btn-primary{
    background-color: #1565C0;
}

.alternatecolor{
    color:white;
    background: #26C6DA;
}

.clearfix{
    height:5px;
}

.msghelper{
    color:palevioletred;
}