<section>
    <p class="lead text-underline"><u> Create Template </u></p>
    <br>
    <form (submit)="registertemplate()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <label for="name">Template Name</label>
              <input type="text" class="form-control" [(ngModel)]="name" name="name" id="name" aria-describedby="name" placeholder="Enter Template Name" required>
              <small id="fullnamhelp" class="form-text text-muted">This name is unique throughout this application.</small>
          </div>
          <div class="form-group">
              <label for="desc">Desription</label>
              <textarea [(ngModel)]="description" name="description"  id="desc" cols="30" rows="4" class="form-control" required>Enter text here ..</textarea>
          </div>
          <div class="form-group">
              <label for="desc">Type</label>
              <select (change)="typechange($event)" [(ngModel)]="type" name="type" id="" class="form-control form-control-sm" required>
                <option value="" disabled selected>Select Type</option>
                <option value="static">Static</option>
                <option value="dynamic">Dynamic</option>
              </select>
          </div>
          <div class="form-group text-center">
              <hr>
              <input type="submit" value="Create Template" class="btn btn-primary btn-sm">
              <hr>
            </div>
        </div>
        <div class="col-md-8">
        </div>
  
      </div>
    </form>
  </section>
  
  <section>
    <p class="lead"><u>Previous Templates</u></p>
    <div>
      <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <thead>
                <tr class="table-info">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Desription</th>
                  <th>Type</th>
                  <th>Created</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let item of templateArr">
                    <td class="text-muted">{{item._id}}</td>
                    <td class="text-muted">{{item.name}}</td>
                    <td class="text-muted">{{item.description}}</td>
                    <td class="text-muted">{{item.type}}</td>
                    <td class="text-muted">{{item.created}}</td>
                    <td class="text-muted text-danger"><button class="btn btn-danger" (click)="removetemplate(item._id)"><span>Delete <i class="fa fa-times"></i></span></button></td>
                  </tr>
                </tbody>
        </table>
      </div>
    </div>
  </section>
  