#sectionss{
    margin: 0px 25px 0px 25px;
    font-size: small;
    box-sizing: border-box; 
}

.form-control{
    font-size: small;
    border-radius: 0px;
}

label{
    font-size: small;
}

.btn{
    font-size: small;
    width:100%;
}

.clearfix{
    height: 10px;
}