<app-topbar></app-topbar>

<br>
<section id="messagingsection">
  <div class="row">
    <div class="col-md-2">
      <div class="menuitemscontainer" style="display:none">
          <!-- compose -->
          <div class="menuitemwrapper" [routerLink]="['./compose']"  routerLinkActive="hoverselected" >
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-plus-circle"></i></span>
                </div>
                <div>
                  Compose
                </div>
            </div>
          </div>

          <!-- inbox -->
          <div class="menuitemwrapper" [routerLink]="['./inbox']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-envelope"></i></span>
                </div>
                <div>
                  Inbox
                </div>
                <!-- <div>
                  <span class="badge">0</span>
                </div> -->
            </div>
          </div>

          <!-- inbox -->
          <div  class="menuitemwrapper" [routerLink]="['./outbox']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-tasks"></i></span>
                </div>
                <div>
                  Outbox
                </div>
                <div>
                  <span class="badge">{{totalOutbox}} </span> &nbsp; <span *ngIf="spinner"><i class="fa fa-spinner fa-1x fa-spin"></i></span>
                </div>
            </div>
          </div>

          <div *ngIf="telco" class="menuitemwrapper" [routerLink]="['./prioutbox']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fas fa-star"></i></span>
                </div>
                <div>
                  Priority Outbox
                </div>
                <div>
                  <span class="badge">{{totalPriOutbox}} </span> &nbsp; 
                </div>
            </div>
          </div>

          <!-- inbox -->
          <div class="menuitemwrapper" [routerLink]="['./sent']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-paper-plane"></i></span>
                </div>
                <div>
                  Sent
                </div>
                <!-- <div>
                  <span class="badge">0</span>
                </div> -->
            </div>
          </div>
          
          <hr>



          <div class="menuitemwrapper" [routerLink]="['./campaignmanagement']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-calendar"></i></span>
                </div>
                <div>
                  Campaigns 
                </div>
            </div>
          </div>

          <div class="menuitemwrapper" [routerLink]="['./templatemanagement']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-bullseye"></i></span>
                </div>
                <div>
                  Templates
                </div>
            </div>
          </div>

          <div class="menuitemwrapper" [routerLink]="['./autorespond']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-bolt"></i></span>
                </div>
                <div>
                  Auto Response
                </div>
            </div>
          </div>
          
          
      </div>

      <app-navbar></app-navbar>
    </div>
    <div class="col-md-10" style="border-left:1px solid rgba(0,0,0,.1)">
      <div class="menuitemsviewscontainer">
          <router-outlet></router-outlet>
      </div>
      
    </div>
  </div>
</section>