section{
    margin: 0px 25px 0px 25px;
    font-size: small;
    box-sizing: border-box; 
}

th{
    font-weight: 400;
}

.primary{
    color:#1565C0;
}

.alternate{
    color:#26C6DA;
}

.green{
    color:green;
}


.blinker { 
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: ease-in-ease-out;
    animation-iteration-count: 3;


    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-ease-out;
    -webkit-animation-iteration-count: 3;
  }



  
  @-moz-keyframes blinker {  /* Decimal not necessary, 0 and 1 is enough */
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}   