<section>
    <div class="">
        <p class="lead"><u>My Outbox (Priority)</u></p>
      <p class="text-muted">These messages are currently being sent ... <span *ngIf="spinner"><i class="fa fa-spinner fa-1x fa-spin"></i></span></p>
      
      <div  style="display: block; min-height: 70px;" >
        <canvas baseChart #baseChart="base-chart" 
          width="auto" height="70" 
          [datasets]="lineChartData" 
          [labels]="lineChartLabels"
          [colors]="lineChartColors" 
          [chartType]="lineChartType"
          ></canvas>
      </div>
  
      <div >
  
  
  
        <div >
          <br>
          <b >
            <p>Outbox (recent entries)</p>
          </b>
        
          <table style="word-break: break-word"  class="table table-sm table-condensed table-bordered table-hover">
            <thead>
              <tr class="table-info">
                <th >Type</th>
                <th >Msg ID</th>
                <th >To</th>
                <th >Message</th>
                <th >MNP</th>
                <th >Intended</th>
                <th >Found</th>
                <th >Created</th>
                <th >Status</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of quickarr">
                    <td class="text-muted">API</td>  
                    <td class="text-muted">{{item._id}}</td>
                    <td>{{item.mobileno}}</td>
                    <td class="text-muted">{{item.msg | slice:0:20}} ...</td>
                    <td class="text-muted">{{item.mnp}}</td>
                    <td class="text-muted">{{item.intended}}</td>
                    <td class="text-muted">{{item.telco}}</td>
                    <td class="text-muted">{{item.created}}</td>
                    <td class="text-muted">
                      <span class="primary"><i class="fa fa-circle"></i></span>
                      <span class="alternate"><i class="fa fa-circle"></i></span>
                      <span class="primary blinker "><i class="fa fa-circle"></i></span>
                      <span style="color:#f0f0f0"><i class="fa fa-circle"></i></span>
                    </td>
                  </tr>
              <tr *ngFor="let item of bulkarr">
                <td class="text-muted">Bulk</td>
                <td class="text-muted">{{item._id}}</td>
                <td>{{item.mobileno}}</td>
                <td class="text-muted">{{item.msg | slice:0:20}} ...</td>
                <td class="text-muted">{{item.mnp}}</td>
                <td class="text-muted">{{item.intended}}</td>
                <td class="text-muted">{{item.telco}}</td>
                <td class="text-muted">{{item.created}}</td>
                <td class="text-muted">
                  <span class="primary"><i class="fa fa-circle"></i></span>
                  <span class="alternate"><i class="fa fa-circle"></i></span>
                  <span class="primary blinker "><i class="fa fa-circle"></i></span>
                  <span style="color:#f0f0f0"><i class="fa fa-circle"></i></span>
                  <!-- <span><i class="fa fa-circle"></i></span> -->
                </td>
              </tr>
              <tr *ngFor="let item of digitalarr">
                  <td class="text-muted">Digital</td>
                  <td class="text-muted">{{item._id}}</td>
                  <td>{{item.mobileno}}</td>
                  <td class="text-muted">{{item.msg | slice:0:20}} ...</td>
                  <td class="text-muted">0</td>
                  <td class="text-muted">WhatsApp</td>
                  <td class="text-muted">WhatsApp</td>
                  <td class="text-muted">{{item.created}}</td>
                  <td class="text-muted">
                    <span class="primary"><i class="fa fa-circle"></i></span>
                    <span class="alternate"><i class="fa fa-circle"></i></span>
                    <span class="primary blinker"><i class="fa fa-circle"></i></span>
                    <span style="color:#f0f0f0"><i class="fa fa-circle"></i></span>
                    <!-- <span><i class="fa fa-circle"></i></span> -->
                  </td>
                </tr>
            </tbody>
          </table>
  
        </div>
  
      </div>
    </div>
  </section>
  