<section>
  <p class="lead"><u>Test APIs</u></p>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
          <label>Operator</label>
          <select name="" id="" class="form-control form-control-sm">
            <option value="" disabled selected>Select operator</option>
            <option value="">Zong</option>
            <option value="">Telenor</option>
            <option value="">Jazz</option>
          </select>
      </div>
      <div class="form-group">
        <label>Testing Number</label>
        <input type="text" name="" id="" placeholder="Enter Number" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="boxcontainer">
        <div class="box">
          <table class="table table-sm table-bordered table-hover">
            <thead>
              <tr class="table-info">
                <th>Operation</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="item">Quick Message Text</label>
                </td>
                <td>
                  <label class="test">Test API</label>
                </td>
              </tr>
              <tr>
                  <td>
                    <label class="item">Bulk Message Text</label>
                  </td>
                  <td>
                    <label class="test">Test API</label>
                  </td>
              </tr>
              <tr>
                  <td>
                    <label class="item">Dynamic Message Text</label>
                  </td>
                  <td>
                    <label class="test">Test API</label>
                  </td>
              </tr>
              <tr>
                  <td>
                    <label class="item">2-way Message Text</label>
                  </td>
                  <td>
                    <label class="test">Test API</label>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2">
        <div class='outer-div'>
            <div class='middle-div'>
                <div class="text-center">
                    <span class="primary"><i class="fa fa-arrow-circle-right fa-5x"></i></span>
                </div>
            </div>
          </div>

    </div>
    <div class="col-md-4">
        <div class="boxcontainer">
          <div class="box">
            <table class="table table-sm table-bordered table-hover">
              <thead>
                <tr class="table-info">
                  <th>Operation</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="item">Network Node1</label>
                  </td>
                  <td>
                    <label class="text-success"><span><i class="fa fa-check-circle-o fa-2x"></i></span></label>
                  </td>
                </tr>
                <tr>
                    <td>
                      <label class="item">Network Node2</label>
                    </td>
                    <td>
                        <label class="text-success"><span><i class="fa fa-check-circle-o fa-2x"></i></span></label>
                    </td>
                </tr>
                <tr>
                    <td>
                      <label class="item">Network Node3</label>
                    </td>
                    <td>
                        <label class="text-success"><span><i class="fa fa-check-circle-o fa-2x"></i></span></label>
                    </td>
                </tr>
                <tr>
                    <td>
                      <label class="item">Network Node4</label>
                    </td>
                    <td>
                        <label class="text-danger"><span><i class="fa fa-check-circle-o fa-2x"></i></span></label>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>

  <div class="col-md-12">

  </div>

</section>
