section{
    font-size: small;
    margin: 0px 25px 0px 25px;
    box-sizing: border-box;
}

.form-control{
    font-size: small;
    border-radius: 0px;
}

.btn{
    font-size: small;
}

th{
    font-weight: 400;

}

tbody label{
    margin:0px;
}

.primary{
    color:#1565C0;
}

.alternate{
    color:#26C6DA;
}

tbody{
    vertical-align: middle;
}

.item{
    color:#333;
    font-size: small;
    padding:5px;
    border-radius: 10px;
    /* background: #1565C0; */
}

.test{
    color:white;
    font-size: x-small;
    padding:5px;
    border-radius: 0px;
    background: #1565C0;
    cursor: pointer;
}

div.outer-div {
    height: 100%;
    width: auto;
  }
  
  div.middle-div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }