<section>
    <div class="row">
      <div class="col-md-12">
        <p class="lead"><u>Pending Top-ups</u></p>
        <div>
            <table class="table table-sm table-hovered table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>SMS</th>
                    <th>WhatsApp</th>
                    <th>Cost</th>
                    <th>Created</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of configarr">
                    <td>{{item.createdby}}</td>
                    <td>{{item.smscredit}}</td>
                    <td>{{item.whatsappcredit}}</td>
                    <td>{{item.cost}}</td>
                    <td>{{item.created}}</td>
                    <td><input type="button" value="Receive payment" class="btn btn-xs btn-success" (click)="receive(item._id,item.createdby)"></td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </section>
  