<section>
    <div>
      <input type="text" class="form-control" readonly id="sender" value="+921234567">
    </div>
  
    <div id="inboxSection">
  
  
      <!-- senders -->
      <div class="messageContainer">
          <div class="left">
              <div class="carot">
                <span><i class="fa fa-caret-left"></i></span>
              </div>
              <div class="msg">
                <p>lkjasd lkajs dlkasj dlkasjdlkasjd</p>
                <b><small>10:00am</small></b>
              </div>
            </div>
      </div>
  
      <!-- ours -->
      <div class="messageContainer">
          <div class="right">
              <div class="msg">
                <p>lkjasd lkajs dlkasj dlkasjdlkasjd</p>
                <b><small>10:00am</small></b>
              </div>
              <div class="carot">
                  <span><i class="fa fa-caret-right"></i></span>
                </div>
            </div>
      </div>
  
      <!-- senders -->
      <div class="messageContainer">
          <div class="left">
              <div class="carot">
                <span><i class="fa fa-caret-left"></i></span>
              </div>
              <div class="msg">
                <p>lkjasd lkajs dlkasj dlkasjdlkasjd</p>
                <b><small>10:00am</small></b>
              </div>
            </div>
      </div>
  
      <!-- ours -->
      <div class="messageContainer">
          <div class="right">
              <div class="msg">
                <p>lkjasd lkajs dlkasj dlkasjdlkasjd</p>
                <b><small>10:00am</small></b>
              </div>
              <div class="carot">
                  <span><i class="fa fa-caret-right"></i></span>
                </div>
            </div>
      </div>
  
  
  
  
  
  
  
      
    </div>
  
    <div id="quickSection">
      <div id="quickcontainer">
        <div class="quick">
          <div class="text"> Hi! I am really sorry but .. &nbsp;&nbsp;&nbsp; <span><i class="fa fa-times"></i></span></div>
        </div>
        <div class="quick">
          <div class="text"> Hi! I am really sorry but .. &nbsp;&nbsp;&nbsp; <span><i class="fa fa-times"></i></span></div>
        </div>
        <div class="quick">
          <div class="text"> Hi! I am really sorry but .. &nbsp;&nbsp;&nbsp; <span><i class="fa fa-times"></i></span></div>
        </div>
        <div class="quick">
          <div class="text"> Hi! I am really sorry but .. &nbsp;&nbsp;&nbsp; <span><i class="fa fa-times"></i></span></div>
        </div>
      </div>
      <div id="newquick">
        <span><i class="fas fa-plus-circle"></i></span>
      </div>
    </div>
  
    <div id="writeSection">
      <textarea name="message" id="message" cols="30" rows="4" class="form-control">Write Something Here..</textarea>
      <div class="footer"><button class="btn btn-primary">Send</button></div>
    </div>
  
  </section>