#profileSection{
    margin-left: 25px;
    margin-right: 25px;
    font-size: small;
    box-sizing: border-box;
}

label{
    font-size: small
}

.form-control{
    font-size: small;
}

.btn{
    font-size: small;   
    width:100%;
}

.btn-primary{
    background-color: #1565C0;

}

.clearfix{
    height:10px;
}