<section>
    <div class="row no-gutters">

        <div class="col-12 col-sm-4 col-md-2" *ngIf="navbarshow" style=" background-color: #2a3f54;">
            <app-navbar></app-navbar>
        </div>


        <div class="col-12 col-sm-8 col-md-10" [ngClass]="{'col-12 col-sm-12 col-md-12':navbarshow==false}">
            <app-topbar></app-topbar>

            <br>
            <div>
                <div class="container">
                    <div class="col-md-6 offset-md-3">
                        <div>
                            <div class="form-group text-center">
                                <span style="color:#1565C0"><i class="fa fa-user-circle-o fa-4x"></i></span>
                            </div>
                            <p class="lead"><u>Personal Information</u></p>
                            <div class="form-group" *ngIf='enckey !== undefined'>
                                <label>Encryption Key:&nbsp;&nbsp;<b>{{enckey}}</b></label>
                            </div>
                            <div class="form-group">
                                <label for="fullname">Full Name</label>
                                <input type="fullname" class="form-control" [(ngModel)]="fullname" name="fullname" id="fullname" aria-describedby="fullnameHelp"
                                    placeholder="Enter fullname" required>
                                <small id="fullnamhelp" class="form-text text-muted">This name will be used to address you in emails.</small>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="number" class="form-control" id="phone" [(ngModel)]="phone" name="phone" aria-describedby="phoneHelp" placeholder="Enter Phone #"
                                    required>
                                <small id="phonehelp" class="form-text text-muted">We'll never share your personal phone with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" aria-describedby="emailHelp" placeholder="Enter email"
                                    readonly required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="email">Password</label>
                                <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" aria-describedby="passowrdHelp"
                                    placeholder="(unchanged password)">
                                <small id="passwordHelp" class="form-text text-muted">Be sure to choose an alphanumeric password for strength.</small>
                            </div>
                            <br>
                            <div *ngIf="user.type=='regular'">
                                <p class="lead">
                                    <u>Testing Numbers</u>
                                </p>
                                <div class="form-group">
                                    <div>
                                        <label for="">Ufone Testing Number</label>
                                    </div>
                                    <div>
                                        <input name="ufone" [(ngModel)]="ufone" type="text" placeholder="e.g. 92334*******" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="">Telenor Testing Number</label>
                                    </div>
                                    <div>
                                        <input name="telenor" [(ngModel)]="telenor" type="text" placeholder="e.g. 92345*******" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="">Zong Testing Number</label>
                                    </div>
                                    <div>
                                        <input name="zong" [(ngModel)]="zong" type="text" placeholder="e.g. 92312*******" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="">Jazz Testing Number</label>
                                    </div>
                                    <div>
                                        <input name="jazz" [(ngModel)]="jazz" type="text" placeholder="e.g. 92300*******" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="">Warid Testing Number</label>
                                    </div>
                                    <div>
                                        <input name="warid" type="text" [(ngModel)]="warid" placeholder="e.g. 92323*******" class="form-control">
                                    </div>
                                </div>
                                <br>
                            </div>
                            
                            <div class="form-group">
                                <button type="button" (click)="onProfileUpdate()" class="btn btn-primary">Update</button>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>