<app-topbar></app-topbar>


<br>
<section id="pricingsection">
  <div class="row">
    <div class="col-md-2">
        <app-navbar></app-navbar>
      <div class="menuitemscontainer" style="display:none">
          <!-- compose -->
          <!-- <div class="menuitemwrapper" [routerLink]="['./details']"  routerLinkActive="hoverselected" >
            <div class="menuitem">
                <div>
                  <span><i class="fas fa-arrow-right"></i></span>
                </div>
                <div>
                  Details
                </div>
            </div>
          </div> -->

          <!-- inbox -->
          <div class="menuitemwrapper" [routerLink]="['./buy']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fa fa-money"></i></span>
                </div>
                <div>
                  Configuration
                </div>
            </div>
          </div>

      </div>
    </div>
    <div class="col-md-10" style="border-left:1px solid rgba(0,0,0,.1)">
      <div class="menuitemsviewscontainer">
          <router-outlet></router-outlet>
      </div>
      
    </div>
  </div>
</section>