<section id="quickSection">
  <form (submit)="registerquick()">
    <p class="lead"><u>Compose Quick Message</u></p>
    <br>
  <div class="row">
        <div class="col-md-8">
          <div class="form-group row">
            <div class="col-12 col-md-3 align-self-center">
                <label style="margin:0" for="name" class="control-label">Name</label>  
            </div>  
            <div class="col-12 col-md-9">
                <input type="text" [(ngModel)]="name" name="name" id="name" class="form-control" placeholder="Enter name for this operation .." required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-md-3 align-self-center">
                <label style="margin:0" for="language">Select Language</label>
            </div>
            <div class="col-12 col-md-9">
                <select (change)="languagechange($event)" [(ngModel)]="language" name="language" id="language" class="form-control form-control-sm" required>
                    <option value="" disabled selected>Select Language</option>
                    <option value="english">English</option>
                    <option value="urdu">Urdu</option>
                  </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-md-3 align-self-center">
                <label style="margin:0" for="masking">Select Masking</label>
            </div>
            <div class="col-12 col-md-9">
                <select (change)="maskingchange($event)" [(ngModel)]="masking" name="masking" id="masking" class="form-control form-control-sm" required>
                    <option value="" disabled selected>Select Masking</option>
                    <option *ngFor="let item of masksarr" [value]="item.mask">{{item.mask}} ({{item.type}})</option>
                  </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-md-3 align-self-center">
                <label style="margin:0" for="mobilenos">Mobile Numbers</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" [(ngModel)]="mobilenos" name="mobilenos" id="mobilenos" class="form-control" placeholder="Enter mobile numbers with commas e.g. 923341234567,923351234567 ..." required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-md-3 align-self-center">
                <label style="margin:0" for="template">Select Template</label>
            </div>
            <div class="col-12 col-md-9">
                <select (change)="templatechange($event)" id="template" class="form-control form-control-sm">
                    <option value="" disabled selected>Select Template</option>
                    <option *ngFor="let item of templateArr" [value]="item.description">{{item.name}}</option>
                  </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-md-3 align-self-center">
                <label style="margin:0" for="msg">Message / SMS</label>
            </div>
            <div class="col-12 col-md-9">
                <textarea (change)="messagechange($event)" (input)="messagechange($event)"  [(ngModel)]="msg" name="msg" id="" cols="20" rows="4" class="form-control" required></textarea>
                <small class="text-muted">Characters: <span class="msghelper">{{msgchars}}</span> &nbsp;&nbsp;|&nbsp;&nbsp; No. of Messages:  <span class="msghelper">{{noofmsgs}}</span></small>
            </div>              
          </div>
          <div class="form-group row">
            <div class="col-12 col-md-3 align-self-center">
                <label style="margin:0">Message Preference</label>
            </div>
            <div class="col-12 col-md-9">
                <label style="margin:0;font-weight:350" class="radio-inline">
                    <input type="radio" [(ngModel)]="preference" name="preference" value="withmask" required> With Mask
                  </label>&nbsp;&nbsp;&nbsp;
                  <label style="margin:0;font-weight:350" class="radio-inline">
                    <input type="radio" [(ngModel)]="preference" name="preference" value="withoutmask" required> Without Mask
                  </label>
            </div>
          </div>
          <div class="form-group text-center">
              <br>
              <hr>
                <input type="submit" value="Send Quick SMS" class="btn btn-primary">
              <hr>
              <div class="clearfix"></div>
              <div *ngIf="sent == true">Please Wait .. <span><i class="fa fa-spinner fa-spin"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
          <div style="position:relative;width:287px;" class="d-block mx-auto">
            <div class="topbar"><img src="assets/imgs/status.png" style="width:100%" alt="status"></div>  
            <div class="topbarmask" *ngIf="masking.length>0">{{masking}}</div>  
            <span *ngIf="msg.length>0" style="position: absolute;
            top: 135px;
            left: 35px;
            color:#024639;
            z-index: 0;"><i class="fa fa-caret-left fa-2x"></i></span>
            <div class="bubble" *ngIf="msg.length>0" [innerHTML]="msg"></div>
            <img src="assets/imgs/phone.png" class="img img-responsive" alt="Phone Deme">
          </div>
          
        </div>            

  </div>

</form>
</section>


