<section id="dashboard">
  <p class="lead"><u> Reports Generated</u></p>
  <p class="text-muted">Total # of reports generated against this notificaiton.</p>

  <br>
  <div class="row">
    <div class="col-md-12">
          <section id="quick">
          <div class="row">
            <div class="col-md-10">
                <div>
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                              <tr class="table-info">
                                <th>Created</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Message</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of notificationArr">
                                <td class="text-muted">{{item.reportedat}}</td>
                                <td class="text-muted">{{item.username}}</td>
                                <td class="text-muted">{{item.userphone}}</td>
                                <td class="text-muted">{{item.useremail}}</td>
                                <td class="text-muted">{{item.reportmsg}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
            </div>
          </div>
            
        </section>

  

    </div>

    <div class="col-md-4">

    </div>
  </div>

</section>
