  <section id="quickSection">
  <p class="lead"><u>Compose Drip Message(s)</u></p>
  <br>
  <div class="row">
        <div class="col-md-8">
          <div class="form-group row">
              <div class="col-12 col-md-3 align-self-center">
                  <label style="margin:0">Name</label>
              </div>
              <div class="col-12 col-md-9">
                  <input type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="Enter name for this operation .." required>
              </div>
          </div>
          <div class="form-group row">
              <div class="col-12 col-md-3 align-self-center">
                  <label style="margin:0">Select Language</label>
              </div>
              <div class="col-12 col-md-9">
                  <select name="language" [(ngModel)]="language" (change)="langchange($event)" id="language" class="form-control form-control-sm" required>
                      <option value="" disabled selected>Select Language</option>
                      <option value="english">English</option>
                      <option value="urdu">Urdu</option>
                    </select>
              </div>
          </div>
          <div class="form-group row">
              <div class="col-12 col-md-3 align-self-center">
                  <label style="margin:0">Select Masking</label>
              </div>
              <div class="col-12 col-md-9">
                  <select name="masking" (change)="maskingchange($event)" [(ngModel)]="masking" id="masking" class="form-control form-control-sm" required>
                      <option value="" disabled selected>Select Masking</option>
                      <option *ngFor="let item of masksarr" [value]="item.mask">{{item.mask}} ({{item.type}})</option>
                    </select>
              </div>
          </div>
          <div class="form-group row">
              <div class="col-12 col-md-3 align-self-center">
                  <label style="margin:0">Campaign Name</label>
              </div>
              <div class="col-12 col-md-9">
                  <select name="campaign" [(ngModel)]="campaign" required (change)="campchange($event)" id="campaign" class="form-control form-control-sm">
                      <option value="" disabled selected>Select Campaign</option>
                      <option *ngFor="let item of campaignsArr" [value]="item.path">{{item.name}}</option>
                    </select>
              </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-md-3 align-self-center">
                <label style="margin:0">Template Type</label>
            </div>
            <div class="col-12 col-md-9">
                <select (change)="templatechange($event)" id="template" class="form-control form-control-sm">
                    <option value="" disabled selected>Select Template</option>
                    <option *ngFor="let item of templatesArr" [value]="item.description">{{item.name}}</option>
                  </select>
            </div>
        </div>
          <div class="form-group row">
              <div class="col-12 col-md-3 align-self-center">
                  <label style="margin:0">Message / SMS</label>
              </div>
              <div class="col-12 col-md-9">
                  <textarea name="msg" [(ngModel)]="msg" (input)="msgchange($event)" id="" cols="30" rows="4" class="form-control"></textarea>
                  <small class="text-muted">Characters Remaining: <span class="msghelper">{{msgchars}}</span> &nbsp;&nbsp;|&nbsp;&nbsp; No. of Messages:  <span class="msghelper">{{msgcount}}</span></small>
              </div>
          </div>
          <div class="form-group row">
              <div class="col-12 col-md-3 align-self-center">
                  <label style="margin:0">From Date (YYYY-MM-DD)</label>
              </div>
              <div class="col-12 col-md-9">
                  <input type="text" name="datefrom" [(ngModel)]="datefrom" required class="form-control" placeholder="Date From">
              </div>
          </div>
          <div class="form-group row">
              <div class="col-12 col-md-3 align-self-center">
                  <label style="margin:0">To Date (YYYY-MM-DD)</label>
              </div>
              <div class="col-12 col-md-9">
                  <input type="text" name="dateto" [(ngModel)]="dateto" required class="form-control" placeholder="Date To">
              </div>
          </div>
          <div class="form-group row">
              <div class="col-12 col-md-3 align-self-center">
                  <label style="margin:0">Frequency</label>
              </div>
              <div class="col-12 col-md-9">
                  <select (change)="frequencychange($event)" name="frequency" [(ngModel)]="frequency" required class="form-control form-control-sm">
                      <option value="" selected disabled>Select Frequency</option>
                      <option value=1>1</option>
                      <option value=2>2</option>
                      <option value=3>3</option>
                    </select>
              </div>
          </div>
          <div class="form-group row" *ngFor="let item of arr">
              <div class="col-12 col-md-3 align-self-center">
                  <label style="margin:0">{{item.value}} Message Time</label>
              </div>
              <div class="col-12 col-md-9">
                  <input type="text" id={{item.value}} class="form-control" placeholder=" e.g. (hh:mm a) 08:30 pm">
              </div>
              
            </div>
            <div class="form-group text-center">
                <div class="clearfix"></div>
                <hr>
                  <!-- <input type="button" (click)="test()" value="Test SMS" class="btn alternatecolor"> -->
                  <input type="button" (click)="register()" value="Schedule Drip SMS" class="btn btn-primary">
                  <!-- <input type="button" value="Flash" class="btn alternatecolor"> -->
                <hr>
              </div>

        </div>
        <div class="col-md-4">

            
            <div style="position:relative;width:287px;" class="d-block mx-auto">
                <div class="topbar"><img src="assets/imgs/status.png" style="width:100%" alt="status"></div>  
                <div class="topbarmask" *ngIf="masking.length>0">{{masking}}</div>  
                <span *ngIf="msg.length>0" style="position: absolute;
                top: 135px;
                left: 35px;
                color:#024639;
                z-index: 0;"><i class="fa fa-caret-left fa-2x"></i></span>
                <div class="bubble" *ngIf="msg.length>0" [innerHTML]="msg"></div>
                <img src="assets/imgs/phone.png" class="img img-responsive" alt="Phone Deme">
              </div>
          




      </div>            

  </div>
</section>


