<section>
    <div class="">
      <div class="table-responsive">
          <p class="text-muted">These messages sent from the system.</p>
          <table class="table table-sm table-condensed table-bordered table-hover">
              
              <thead>
                <tr class="table-info">
                  <th>To</th>
                  <th>Message</th>
                  <th>Sent</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>921234567</td>
                  <td class="text-muted">Do as they ...</td>
                  <td class="text-muted">2017/05/25 5:00:00</td>
                  <td class="text-muted">
                    <span class="primary"><i class="fa fa-circle"></i></span>
                    <span class="alternate"><i class="fa fa-circle"></i></span>
                    <span class="primary"><i class="fa fa-circle"></i></span>
                    <span><i class="fa fa-circle"></i></span>
                  </td>
                </tr>
                <tr>
                    <td>921234567</td>
                    <td class="text-muted">Do as they ...</td>
                    <td class="text-muted">2017/05/25 5:00:00</td>
                    <td class="text-muted">
                      <span class="primary"><i class="fa fa-circle"></i></span>
                      <span class="alternate"><i class="fa fa-circle"></i></span>
                      <span><i class="fa fa-circle"></i></span>
                      <span><i class="fa fa-circle"></i></span>
                    </td>
                  </tr>
              </tbody>
            </table>
      </div>
    </div>
  </section>
  