<section>
    <p class="lead text-underline"><u> Create Template </u></p>
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <label for="name">Template Name</label>
              <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Campaign Name">
              <small id="fullnamhelp" class="form-text text-muted">This name is unique throughout this application.</small>
          </div>
          <div class="form-group">
              <label for="desc">Desription</label>
              <textarea name="desc" id="desc" cols="30" rows="4" class="form-control">Enter text here ..</textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <label for="name">Template File Upload</label>
              <input type="file" class="form-control" id="file" aria-describedby="file" placeholder="Choose File">
              <small id="fullnamhelp" class="form-text text-muted">Please upload the contacts csv.</small>
          </div>
          <div class="clearfix"></div>
          <div class="clearfix"></div>
          <div class="form-group text-center">
            <hr>
            <input type="button" value="Create Template" class="btn btn-primary btn-sm">
            <hr>
          </div>
        </div>
  
      </div>
    </form>
  </section>
  
  <section>
    <p class="lead"><u>Previous Template</u></p>
    <div>
      <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <thead>
                <tr class="table-info">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Desription</th>
                  <th>File</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td class="text-muted">124</td>
                    <td class="text-muted">Template 1</td>
                    <td class="text-muted">Test Template</td>
                    <td class="text-muted">template_1.csv</td>
                    <td class="text-muted text-danger"><button class="btn btn-danger" disabled><span>Delete <i class="fa fa-times"></i></span></button></td>
                  </tr>
                  <tr>
                      <td class="text-muted">421</td>
                      <td class="text-muted">Template 2</td>
                      <td class="text-muted">Test Template 2</td>
                      <td class="text-muted">template_2.csv</td>
                      <td class="text-muted text-danger"><button class="btn btn-danger" disabled><span>Delete <i class="fa fa-times"></i></span></button></td>
                  </tr>
                </tbody>
        </table>
      </div>
    </div>
  </section>
  