<section>
  <div class="row">
    <div class="col-md-12">
      <p class="lead">
        <u>
           Create New Mask/Shortcode
        </u>
      </p>
      <br>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <form (submit)="createMask()">
          <div class="form-group">
            <label for="fullname">Mask/Shortcode</label>
            <input type="text" [(ngModel)]="mask" name="mask" class="form-control" id="mask" aria-describedby="mask" placeholder="Enter Mask Name .." required>
            <small id="mask" class="form-text text-muted">Messages will be sent via this mask/shortcode when required.</small>
          </div>
          <div class="form-group">
            <label for="">Select Type</label>
            <select (change)="createmasktypechange($event)" [(ngModel)]="type" name="type" class="form-control" required>
              <!-- <option value="" selected disabled>Select Type</option> -->
              <!-- <option value="telenor">Telenor</option> -->
              <!-- <option value="jazz">Jazz</option> -->
              <!-- <option value="warid">Warid</option> -->
              <!-- <option value="ufone">Ufone</option> -->
              <!-- <option value="zong">Zong</option> -->
              <option value="whitelisted">Whitelisted</option>
            </select>
          </div>
          <div class="form-group">
              <label for="desc">Description</label>
              <input type="text" [(ngModel)]="description" name="description" class="form-control" id="desc" aria-describedby="desc" placeholder="Enter description .." required>
              <small id="desc" class="form-text text-muted">Write something about this masking.</small>
            </div>
            <div class="form-group">
              <br>
                <button type="submit" class="btn btn-primary">Create New</button>
            </div>

          </form>
    </div>
  </div>

    <br>
    <hr>

    <div class="row">
      <div class="col-md-12">
          <p class="lead"><u> Registered Masks </u></p>
          <br>
          <form>
              <input [(ngModel)]="searchString" type="text" name="searchString" id="" class="form-control input-sm" placeholder="Search Masks ...">
          </form>
          <table class="table table-sm table-condensed table-bordered table-hover">
              
              <thead>
                <tr class="table-info">
                  <th>ID</th>
                  <th>Mask</th>
                  <th>Type</th>
                  <th>Desc</th>
                  <th>Created</th>
                  <th>Status</th>
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataArr | masksfilter : 'mask' : searchString; let i = index">
                  <td class="text-muted">{{item._id}}</td>
                  <td class="text-muted">{{item.mask}}</td>
                  <td class="text-muted">{{item.type}}</td>
                  <td class="text-muted">{{item.description}}</td>
                  <td class="text-muted">{{item.created}}</td>
                  <td class="text-muted">{{item.status}}</td>
                  <!-- <td class="text-muted text-danger"><button (click)="ondelete( item._id )" class="btn btn-danger"><span>Delete <i class="fa fa-times"></i></span></button></td> -->
                </tr>
              </tbody>
            </table>
      </div>
    </div>

    <br>
</section>
