<section>
  <div class="row">
    <div class="col-md-12">
      <p class="lead"><u>Pending Configurations</u></p>
      <br>
      <div>
          <table class="table table-sm table-hovered table-bordered table-striped">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Featureset</th>
                  <th>Encryption</th>
                  <th>SMSTP</th>
                  <th>WATP</th>
                  <th>Created</th>
                  <th>Expiry</th>
                  <th>Cost</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of configarr">
                  <td>{{item.createdby}}</td>
                  <td><tr *ngFor="let feats of item.featureset">{{feats}}</tr></td>
                  <td>{{item.encryption}}</td>
                  <td>{{item.smstp}}</td>
                  <td>{{item.watp}}</td>
                  <td>{{item.created}}</td>
                  <td>{{item.expiry}}</td>
                  <td>{{item.cost}}</td>
                  <td><input type="button" value="Receive payment" class="btn btn-xs btn-success" (click)="receive(item._id,item.createdby)"></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</section>
