<section id="registerSection">
    <div>
        <form (submit)="onRegister()">
          <div class="form-group">
            <label for="fullname">Account Type</label>
            <select name="type" [(ngModel)]="type" class="form-control" required>
              <option value="regular" selected>Regular</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" [(ngModel)]="fullname" name="fullname" class="form-control" id="fullname" aria-describedby="fullnameHelp" placeholder="Enter full name" required>
            <small id="fullnamhelp" class="form-text text-muted">This name will be used to address you in emails.</small>
          </div>
          <div class="form-group">
              <label for="phone">Phone</label>
              <input type="number" [(ngModel)]="phone" name="phone" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Enter Phone #" required>
              <small id="phonehelp" class="form-text text-muted">We'll never share your personal phone with anyone else.</small>
            </div>
          <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password" placeholder="Password" required>
              <small id="passwordhelp" class="form-text text-muted">By signing in, you declare to abide by the terms and conditions of this platform.</small>
            </div>
            <div class="form-group">
                <button [disabled]="sent==true" type="submit" class="btn btn-primary">Sign Up</button>
                <div class="clearfix"></div>
                <button class="btn btn-default" [routerLink]="['../login']">Already a Member? Log In</button>
            </div>
            
          </form>
    </div>
  </section>
  