<section>
  <div>
    <input type="text" name="searchbar" id="searchbar" class="form-control" placeholder="Search Contact">
  </div>
  <!-- sender container -->
  <div id="sendercontainer">
    <!-- single item -->
    <div class="item">
            <div class="thumbnail">
                <span><i class="far fa-user-circle"></i></span>
            </div>
            <div class="desc">
                <label>+12345678</label>
                <p>I want to avail your services but i dont know</p>
                <small>9:30 pm</small>
            </div>
    </div>


    <div class="item">
        <div class="thumbnail">
            <span><i class="far fa-user-circle"></i></span>
        </div>
        <div class="desc">
            <label>+12345678</label>
            <p>I want to avail your services but i dont know</p>
            <small>9:30 pm</small>
        </div>
    </div>


    <div class="item">
        <div class="thumbnail">
            <span><i class="far fa-user-circle"></i></span>
        </div>
        <div class="desc">
            <label>+12345678</label>
            <p>I want to avail your services but i dont know</p>
            <small>9:30 pm</small>
        </div>
    </div>

          
  </div>
</section>
