<section>
  <div class="row">
    <div class="col-md-12">
      <p class="lead"><u>Pending Accounts</u></p>
      <div *ngIf="usersarr.length > 0">
          <table class="table table-sm table-hovered table-bordered table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Type</th>
                  <th>Created</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of usersarr">
                  <td>{{item.fullname}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phone}}</td>
                  <td>{{item.type}}</td>
                  <td>{{item.created}}</td>
                  <td><input type="button" class="btn btn-xs btn-success " value="Activate" (click)="activate(item.email)"></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</section>
