<app-topbarstatic></app-topbarstatic>

<br>
<section id="homeSection">

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-8" id="homeleft">
          <div class="row">
            <div class="col-md-4">
                <img src="https://cdnb.artstation.com/p/assets/images/images/009/584/165/original/abhilash-nair-mango-plucking-for-gif.gif?1519794381">
            </div>
            <div class="col-md-8">
                <h3 style="color:#333">Some things that we offer ..</h3>
                <p class="lead text-muted ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Minus labore commodi vero obcaecati unde debitis, quis, 
                    magni, ea cumque beatae animi! Ex animi deserunt libero distinctio suscipit nulla repudiandae id?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <p class="lead text-muted">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  Esse, pariatur consectetur laudantium voluptatibus, quam deleniti at, 
                  architecto doloremque aspernatur dolorem neque earum rerum. Est nostrum cupiditate cumque ab atque aliquid?
                </p>
                <br>
                <div class="text-right arrow">
                  <span><i class="fa fa-arrow-circle-o-right fa-3x"></i></span>
                </div>
            </div>
          </div>
        </div>
    
        <div class="col-md-4">
          <div class="margin"></div>
          <router-outlet></router-outlet>
        </div>
      </div>  
    </div>
    
  </div>



  
</section>


