<app-topbarstatic></app-topbarstatic>

<br>
<section id="homeSection">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-8" id="homeleft">
          <div class="row">
            <div class="col-md-12 align-self-middle">
                <img class="d-block mx-auto" src="assets/imgs/abhilash-nair-mango-plucking-for-gif.gif" style="width: 30%;">
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h3 style="color:#333">Business Communication. Even better than before!</h3>
                  <p class="lead text-muted ">
                    Business Communication has to be very precise. 
                    MangoTree brings you the best feature set to start having a conversation with your customer. 
                    An engaged customer boosts your business, giving you better ROI all year round.
                  </p>
                  <p class="lead text-muted">
                    Log-In to this highly intelligent application and start reaping the benefits
                  </p>
                  <br>
                  <div class="text-right arrow">
                    <span><i class="fa fa-arrow-circle-o-right fa-3x"></i></span>
                  </div>
              </div>
            </div>
        </div>
    
        <div class="col-md-4">
          <div class="margin"></div>
          <router-outlet></router-outlet>
        </div>
      </div>  
    </div>
    
  </div>



  
</section>


