<section id="navbarsection" *ngIf="loggedIn">

  <div class="navbarheader">
    <div style="padding-top:13px;padding-left:10px;">
      <span><i class="fa fa-envira fa-2x" style="font-size:22px;vertical-align:top;border: 1px solid #EAEAEA;
        padding: 5px 6px;
        border-radius: 50%;"></i>&nbsp;
        <span style="color: #ECF0F1!important; font-weight: 400;
        font-size: 22px; font-family: 'Helvetica Neue',Roboto,Arial,'Droid Sans',sans-serif;">Mango Tree</span></span>
    </div>
  </div>

  <br>
  <div class="w-100"></div>

  <div class="subheader" style="display:inline-flex;width:100%;padding-top:7px;padding-bottom:7px;" routerLinkActive="hoverselected" [routerLink]="['/profile']" >
    <div style="padding-left:10px;">
      <span><i style="padding-top:2px;    color: #fff;" class="fa fa-user-circle-o fa-3x"></i></span>
    </div>
    <div style="margin-left:10px; ">
      <div style="font-size:11px; color: #BAB8B8;">Welcome,</div>
      <div style="font-size:14px; font-weight:700;    color: #ECF0F1;">{{user.fullname}}</div>
      <div style="font-size:9px; user-select:all;    color: #ECF0F1; cursor:pointer">{{user.id}}</div>
    </div>
  </div>

  <div class="w-100"></div>

  <br>


  <div class="" id="nbwrapper">
      <p _ngcontent-dda-2="" style="
      padding-left:10px;
      font-size: 11px;;
      letter-spacing:.5px;
      font-weight:700;
      color: white;
  ">GENERAL</p>
    <div id="nditemscontainer">


      <div class="nbitems  " routerLinkActive="hoverselected" [routerLink]="['/default']" >
        <div class="nbitemsimg">

        </div>
        <div class="nbitemstext">
          <span class="lefticon"><i class="fa fa-desktop"></i></span>
          <span class="lefttext">Home</span>
        </div>
      </div>

      <!-- dashboard -->
      <div class="nbitems" *ngIf="dashboard" routerLinkActive="hoverselected" [routerLink]="['/dashboard']" >
        <div class="nbitemsimg">

        </div>
        <div class="nbitemstext">
          <span class="lefticon"><i class="fa fa-bar-chart"></i></span>
          <span class="lefttext">Dashboard</span>
        </div>
      </div>


      <!-- messaging -->
      <div class="nbitems" *ngIf="messaging" [ngClass]="{'rightborder hoverselected': messagingclicked}" (click)="onmessagingclicked()"  routerLinkActive="hoverselected">
        <div class="nbitemstext">
          <div><span class="lefticon"><i class="fa fa-envelope-open"></i></span><span class="lefttext">Messaging</span><span class="rightarrow"
              *ngIf="messagingclicked==true"><i class="fa fa-caret-down"></i></span>
            <span class="rightarrow" *ngIf="messagingclicked==false"><i class="fa fa-caret-right"></i></span>
          </div>
        </div>
      </div>
      <div *ngIf="messagingclicked==true" [ngClass]="{'rightborder': messagingclicked}">
        <div class="nbsubitems" *ngIf="2==1" routerLinkActive="hoverselectedsub" [routerLink]="['/messaging/messagingdashboard']" >
          <div class="nbitemstext">
            <div><span class="lefticonsubsub"><i class="fa fa-cloud"></i></span><span class="lefttextsubsub">Dashboard</span></div>
          </div>
        </div>
        <div class="nbsubitems" (click)="oncomposeclicked()" routerLinkActive="hoverselectedsub">
          <div class="nbitemstext">
            <div><span class="lefticonsubsub"><i class="fa fa-pencil"></i></span><span class="lefttextsubsub">Compose</span> <span *ngIf="composeclicked==true" class="rightarrow"><i class="fa fa-caret-down"></i></span>
              <span class="rightarrow" *ngIf="composeclicked==false"><i class="fa fa-caret-right"></i></span>
            </div>
          </div>
        </div>
        <div *ngIf="composeclicked==true">
          <div class="nbsubsubitems" routerLinkActive="hoverselectedsubsub" [routerLink]="['/messaging/compose/quick']" >
            <div class="nbitemstext">
              <div><span class="lefticonsubsubsub"><i class="fa fa-angle-right"></i></span><span class="lefttextsubsub">Quick</span></div>
            </div>
          </div>
          <div class="nbsubsubitems" routerLinkActive="hoverselectedsubsub" [routerLink]="['/messaging/compose/bulk']" >
            <div class="nbitemstext">
              <div><span class="lefticonsubsubsub"><i class="fa fa-angle-right"></i></span><span class="lefttextsubsub">Bulk</span></div>
            </div>
          </div>
          <div class="nbsubsubitems" routerLinkActive="hoverselectedsubsub" [routerLink]="['/messaging/compose/drip']" >
            <div class="nbitemstext">
              <div><span class="lefticonsubsubsub"><i class="fa fa-angle-right"></i></span><span class="lefttextsubsub">Drip</span></div>
            </div>
          </div>
          <div class="nbsubsubitems" *ngIf="digital" routerLinkActive="hoverselectedsubsub" [routerLink]="['/messaging/compose/digital']" >
            <div class="nbitemstext">
              <div><span class="lefticonsubsubsub"><i class="fa fa-angle-right"></i></span><span class="lefttextsubsub">WhatsApp</span></div>
            </div>
          </div>
        </div>

        <div class="nbsubitems" routerLinkActive="hoverselectedsub" [routerLink]="['/messaging/inbox']" >
          <div class="nbitemstext">
            <div><span class="lefticonsubsub"><i class="fa fa-inbox"></i></span><span class="lefttextsubsub">Inbox</span></div>
          </div>
        </div>
        <div class="nbsubitems" routerLinkActive="hoverselectedsub" [routerLink]="['/messaging/outbox']" >
          <div class="nbitemstext">
            <div><span class="lefticonsubsub"><i class="fa fa-send"></i></span><span class="lefttextsubsub">Outbox</span></div>
          </div>
        </div>
        <div class="nbsubitems" routerLinkActive="hoverselectedsub" [routerLink]="['/messaging/prioutbox']" >
          <div class="nbitemstext">
            <div><span class="lefticonsubsub"><i class="fa fa-send"></i></span><span class="lefttextsubsub">Priority Outbox</span></div>
          </div>
        </div>
        <div class="nbsubitems" routerLinkActive="hoverselectedsub" [routerLink]="['/messaging/sent']" >
          <div class="nbitemstext">
            <div><span class="lefticonsubsub"><i class="fa fa-rocket"></i></span><span class="lefttextsubsub">Sent</span></div>
          </div>
        </div>
        <div class="nbsubitems" routerLinkActive="hoverselectedsub" [routerLink]="['/messaging/campaignmanagement']" >
          <div class="nbitemstext">
            <div><span class="lefticonsubsub"><i class="fa fa-map-signs"></i></span><span class="lefttextsubsub">Campaigns</span></div>
          </div>
        </div>
        <div class="nbsubitems" routerLinkActive="hoverselectedsub" [routerLink]="['/messaging/templatemanagement']" >
          <div class="nbitemstext">
            <div><span class="lefticonsubsub"><i class="fa fa-puzzle-piece"></i></span><span class="lefttextsubsub">Templates</span></div>
          </div>
        </div>
        <div class="nbsubitems" routerLinkActive="hoverselectedsub" [routerLink]="['/messaging/autorespond']" >
          <div class="nbitemstext">
            <div><span class="lefticonsubsub"><i class="fa fa-mail-reply-all"></i></span><span class="lefttextsubsub">Auto Response</span></div>
          </div>
        </div>

      </div>

      <!-- messaging end -->








      <!-- notification -->
      <div class="nbitems  " [ngClass]="{'rightborder hoverselected': notificationclicked}" *ngIf="notification" (click)="onnotificationclicked()"  routerLinkActive="hoverselected">
        <div class="nbitemstext">
          <span class="lefticon"><i class="fa fa-bell"></i></span><span class="lefttext">Notification</span><span *ngIf="notificationclicked==true" class="rightarrow"><i class="fa fa-caret-down"></i></span>
          <span *ngIf="notificationclicked==false" class="rightarrow"><i class="fa fa-caret-right"></i></span>
        </div>
      </div>
      <div *ngIf="notificationclicked==true" [ngClass]="{'rightborder': notificationclicked}">
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/notification/dashboard']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-cloud"></i></span><span class="lefttextsubsub">Dashboard</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/notification/composen']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-pencil"></i></span><span class="lefttextsubsub">Compose</span>
          </div>
        </div>

        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/notification/templates']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-puzzle-piece"></i></span><span class="lefttextsubsub">Templates</span>
          </div>
        </div>
      </div>
      <!-- notification end -->




      <!-- hybrid -->
      <div class="nbitems" *ngIf="hybrid" [ngClass]="{'rightborder hoverselected': hybridclicked}" (click)="onhybridclicked()" routerLinkActive="hoverselected">
        <div class="nbitemstext">
          <span class="lefticon"><i class="fa fa-sliders"></i></span><span class="lefttext">Hybrid</span><span *ngIf="hybridclicked==true" class="rightarrow"><i class="fa fa-caret-down"></i></span>
          <span *ngIf="hybridclicked==false" class="rightarrow"><i class="fa fa-caret-right"></i></span>
        </div>
      </div>
      <div *ngIf="hybridclicked==true" [ngClass]="{'rightborder': hybridclicked}">
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/hybrid/dashboard']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-cloud"></i></span><span class="lefttextsubsub">Dashboard</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/hybrid/compose']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-pencil"></i></span><span class="lefttextsubsub">Compose</span>
          </div>
        </div>

        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/hybrid/inbox']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-inbox"></i></span><span class="lefttextsubsub">Inbox</span>
          </div>
        </div>

        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/hybrid/outbox']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-send"></i></span><span class="lefttextsubsub">Outbox</span>
          </div>
        </div>

        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/hybrid/sent']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-rocket"></i></span><span class="lefttextsubsub">Sent</span>
          </div>
        </div>
      </div>
      <!-- hybrid end -->




      <!-- reporting -->
      <div class="nbitems  " *ngIf="reporting" routerLinkActive="hoverselected" [routerLink]="['/reporting']" >
        <div class="nbitemsimg">

        </div>
        <div class="nbitemstext">
          <span class="lefticon"><i class="fa fa-table"></i></span><span class="lefttext">Reporting</span>
        </div>
      </div>


      <div class="nbitems  " *ngIf="lea" routerLinkActive="hoverselected" [routerLink]="['/leareporting']" >
        <div class="nbitemsimg">

        </div>
        <div class="nbitemstext">
          <span class="lefticon"><i class="fa fa-table"></i></span><span class="lefttext">LEA Reporting</span>
        </div>
      </div>


      <!-- address -->
      <div class="nbitems  " *ngIf="contacts" [ngClass]="{'rightborder hoverselected': addressbookclicked}" (click)="onaddressbookclicked()" routerLinkActive="hoverselected">
        <div class="nbitemstext">
          <span class="lefticon"><i class="fa fa-address-book"></i></span><span class="lefttext">Address Book</span> <span *ngIf="addressbookclicked==true"
            class="rightarrow"><i class="fa fa-caret-down"></i></span><span *ngIf="addressbookclicked==false" class="rightarrow"><i class="fa fa-caret-right"></i></span>
        </div>
      </div>


      <div *ngIf="addressbookclicked == true" [ngClass]="{'rightborder': addressbookclicked}">
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/addressbook/newcontact']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-user-circle-o"></i></span><span class="lefttextsubsub">New Contact</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/addressbook/contacts']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-file-text-o"></i></span><span class="lefttextsubsub">Contacts</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/addressbook/groups']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-group"></i></span><span class="lefttextsubsub" >Groups</span>
          </div>
        </div>
      </div>



      <!-- Issue -->
      <div class="nbitems  " *ngIf="tracker" (click)="ontrackerclicked()" [ngClass]="{'rightborder hoverselected': trackerclicked}" routerLinkActive="hoverselected">
        <div class="nbitemstext">
          <span class="lefticon"><i class="fa fa-balance-scale"></i></span><span class="lefttext">Tracker</span> <span *ngIf="trackerclicked==true" class="rightarrow"><i class="fa fa-caret-down"></i></span>
          <span *ngIf="trackerclicked==false" class="rightarrow"><i class="fa fa-caret-right"></i></span>
        </div>
      </div>
      <div *ngIf="trackerclicked == true" [ngClass]="{'rightborder': trackerclicked}">
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/issuestracker/dashboard']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-cloud"></i></span><span class="lefttextsubsub">Dashboard</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/issuestracker/create']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-pencil"></i></span><span class="lefttextsubsub">New Ticket</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/issuestracker/apitest']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-filter"></i></span><span class="lefttextsubsub">Test APIs</span>
          </div>
        </div>
      </div>


      <!-- prcing -->
      <div class="nbitems" *ngIf="pricing" routerLinkActive="hoverselected" [routerLink]="['/pricing/buy']" >
        <div class="nbitemstext">
          <span class="lefticon"><i class="fa fa-money"></i></span><span class="lefttext">Pricing</span>
        </div>
      </div>

      <!-- settings -->
      <div class="nbitems" *ngIf="settings" [ngClass]="{'rightborder hoverselected': settingsclicked}" routerLinkActive="hoverselected" (click)="onsettingsclicked()">
        <div class="nbitemstext">
          <span class="lefticon"><i class="fa fa-cog"></i></span><span class="lefttext">Settings</span> <span *ngIf="settingsclicked==true" class="rightarrow"><i class="fa fa-caret-down"></i></span>
          <span *ngIf="settingsclicked==false" class="rightarrow"><i class="fa fa-caret-right"></i></span>
        </div>
      </div>
      <div *ngIf="settingsclicked == true" [ngClass]="{'rightborder': settingsclicked}">

        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/settings/uac']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-lock"></i></span><span class="lefttextsubsub">User Access</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/settings/masks']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-wrench"></i></span><span class="lefttextsubsub">Manage Masks</span>
          </div>
        </div>
      </div>





      <!-- master -->
      <div class="nbitems" *ngIf="master" [ngClass]="{'rightborder hoverselected': masterclicked}" routerLinkActive="hoverselected" (click)="onmasterclicked()">
        <div class="nbitemstext">
          <span class="lefticon"><i class="fa fa-user-secret"></i></span><span class="lefttext">Master</span><span *ngIf="masterclicked==true" class="rightarrow"><i class="fa fa-caret-down"></i></span>
          <span *ngIf="masterclicked==false" class="rightarrow"><i class="fa fa-caret-right"></i></span>
        </div>
      </div>
      <div *ngIf="masterclicked == true" [ngClass]="{'rightborder': masterclicked}">
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/newaccount']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-pencil-square"></i></span><span class="lefttextsubsub">New Account</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/moderate']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-tasks"></i></span><span class="lefttextsubsub">Account Moderation</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/accounts']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-suitcase"></i></span><span class="lefttextsubsub">Accounts</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/bundle']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-tty"></i></span><span class="lefttextsubsub">Bundle</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/credit']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-credit-card"></i></span><span class="lefttextsubsub">Top-Ups</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/masks']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-window-restore"></i></span><span class="lefttextsubsub">Masks/Shortcodes</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/issues']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-database"></i></span><span class="lefttextsubsub">Manage Issues</span>
          </div>
        </div>
        <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/reports']" >
          <div class="nbitemstext">
            <span class="lefticonsubsub"><i class="fa fa-download"></i></span><span class="lefttextsubsub">Reports</span>
          </div>
        </div>
      </div>

    </div>
    <br>
  </div>

</section>