.navbarheader {
    min-height: 59px;
}

@media only screen and (max-width: 600px) {
    #navbarsection {
        height: auto !important;
    }
}

#navbarsection {
    color: #E7E7E7;
    height: 100vh;
    position: fixed;
    width: 16.63%;
    z-index: 1;
    /* padding-left: 10px;
    padding-right: 10px; */
    user-select: none;
    /* background-color: #2a3f54; */
    background-image: url('assets/imgs/sidenavbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;
}

#nbitemscontainer {
    display: inline-block;
}

.nbitems {
    display: block;
    cursor: pointer;
    /* margin-right: 10px; */
    padding: 15px 10px 15px 10px;
    color: #E7E7E7;
    /* background-color: #2a3f54; */
}

.nbsubitems {
    display: block;
    cursor: pointer;
    /* margin-right: 10px; */
    padding: 10px;
    color: #E7E7E7;
    padding-left: 15px;
    background-color: #2a3f54;
}

.nbsubsubitems {
    display: block;
    cursor: pointer;
    /* margin-right: 10px; */
    padding: 10px;
    color: #E7E7E7;
    padding-left: 30px;
    background-color: #2a3f54;
}

#nbwrapper {
    background-color: transparent;
}

.nbitemsimg {}

.nbitemstext {
    font-size: 13px;
    position: relative;
    padding-left: 10px;
}

.rightarrow {
    position: absolute;
    right: 5px;
}

.lefticon {
    position: absolute;
    font-size: 18px;
    left: 0px;
    top: -3px;
}

.lefticonsubsub {
    position: absolute;
    left: 15px;
}

.lefttextsubsub {
    position: relative;
    left: 45px;
}

.lefticonsubsubsub {
    position: absolute;
    left: 30px;
}

.lefttextsubsubsub {
    position: relative;
    left: 50px;
}

.lefttext {
    position: relative;
    left: 10px;
    top: 4px;
}

.hoverselected {
    position: relative;
    width: 100.5%;
    z-index: 1;
    /* border-right: 5px solid white; */
    color: #fff;
    box-sizing: border-box;
    background: #0693c6;
    /* text-shadow: rgba(0, 0, 0, .25) 0 -1px 0; */
    /* background: linear-gradient(#334556, #2C4257), #2A3F54; */
    box-shadow: rgba(0, 0, 0, 0.40) 1px 1px 5px, inset rgba(255, 255, 255, .16) 0 1px 0;
    margin-left: 5px;
}

.subheader:hover {
    border-right: 5px solid #1ABB9C;
    color: #E7E7E7;
    box-sizing: border-box;
    cursor: pointer;
    /* color: #1565C0; */
    /* border-left: 2px solid #1565C0; */
    /* padding-left: 8px; */
    background: #334456;
    /* color: #1565C0; */
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.nbitems:hover {
    position: relative;
    width: 101%;
    z-index: 1;
    /* border-right: 5px solid white; */
    color: #fff;
    box-sizing: border-box;
    background: #0693c6;
    /* text-shadow: rgba(0, 0, 0, .25) 0 -1px 0; */
    /* background: linear-gradient(#334556, #2C4257), #2A3F54; */
    box-shadow: rgba(0, 0, 0, 0.40) 1px 1px 5px, inset rgba(255, 255, 255, .16) 0 1px 0;
    margin-left: 5px;
}

.nbsubitems:hover {
    color: #E7E7E7;
    box-sizing: border-box;
    /* color: #1565C0; */
    /* border-left: 2px solid #1565C0; */
    /* padding-left: 8px; */
    background: #334456;
    /* color: #1565C0; */
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.nbsubsubitems:hover {
    color: #E7E7E7;
    box-sizing: border-box;
    /* color: #1565C0; */
    /* border-left: 2px solid #1565C0; */
    /* padding-left: 8px; */
    background: #334456;
    /* color: #1565C0; */
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.rightborder {
    border-right: 5px solid #1ABB9C;
}

.noborder {
    border-right: 0px solid #1ABB9C;
}

.hoverselectedsub {
    color: #E7E7E7;
    box-sizing: border-box;
    /* color: #1565C0; */
    /* border-left: 2px solid #1565C0; */
    /* padding-left: 8px; */
    background: #334456;
    /* color: #1565C0; */
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.hoverselectedsubsub {
    color: #E7E7E7;
    box-sizing: border-box;
    /* color: #1565C0; */
    /* border-left: 2px solid #1565C0; */
    /* padding-left: 8px; */
    background: #334456;
    /* color: #1565C0; */
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.cardbg {
    color: white;
    background-color: #2a3f54;
    /* background: linear-gradient(to right, #182848, #1565C0); */
}

.telenorlogosidenav {
    position: absolute;
    bottom: 20px;
    text-align: center;
    /* align-items: center; */
    left: 0;
    right: 0;
}

.telenorlogosidenav img {
    height: 50px;
}