<section id="navbarsection" *ngIf="loggedIn">

    <div class="navbarheader" style="display:none">
        <div style="padding-top:13px;padding-left:10px;">
            <span><i class="fa fa-envira fa-2x" style="font-size:22px;vertical-align:top;border: 1px solid #EAEAEA;
        padding: 5px 6px;
        border-radius: 50%;"></i>&nbsp;
        <span style="color: #ECF0F1!important; font-weight: 400;
        font-size: 22px; font-family: 'telenor',Roboto,Arial,'Droid Sans',sans-serif;">Mango Tree</span></span>
        </div>
    </div>

    <div style="margin-top:10px;">
        <img style="width: 110px;
        margin-left: 10px;" src="assets/imgs/newbtn.png" (click)="toggleShortcut()" alt="New button">

        <div *ngIf="shortcut" style="background: white;
        color: #0693C6;
        font-size: small;
        position: absolute;
        z-index: 100;
        left: 20px;
        border-radius: 10px;">
            <div style="padding: 10px 15px;
            border-bottom: 1px solid #f0f0f0;" [routerLink]="['/newcampaign']">New Campaign</div>
            <div style="padding: 10px 15px;
            border-bottom: 1px solid #f0f0f0;" [routerLink]="['/newlist']">New Distribution List</div>
        </div>

    </div>

    <div class="w-100"></div>

    <div class="subheader" style="display:inline-flex;width:100%;padding-top:7px;padding-bottom:7px;display:none" routerLinkActive="hoverselected" [routerLink]="['/profile']">
        <div style="padding-left:10px;">
            <span><i style="padding-top:2px;    color: #fff;" class="fa fa-user-circle-o fa-3x"></i></span>
        </div>
        <div style="margin-left:10px; ">
            <div style="font-size:11px; color: #BAB8B8;">Welcome,</div>
            <div style="font-size:14px; font-weight:700;    color: #ECF0F1;">{{user.firstname}}</div>
            <div style="font-size:9px; user-select:all;    color: #ECF0F1; cursor:pointer">{{user.id}}</div>
        </div>
    </div>

    <div class="w-100"></div>

    <br>


    <div class="" id="nbwrapper">
        <p style="padding-left:10px;font-size: 11px;letter-spacing:.5px;font-weight:700;color: white; display:none">GENERAL</p>
        <div id="nditemscontainer">

            <!-- all the navbar items for telenor regular user -->
            <div *ngIf="regular" class="nbitems  " routerLinkActive="hoverselected" [routerLink]="['/default']">
                <div class="nbitemsimg">
                </div>
                <div class="nbitemstext">
                    <!-- <span class="lefticon"><i class="fa fa-desktop"></i></span> -->
                    <span><img src="assets/imgs/dashboard.png" alt=""></span>
                    <span class="lefttext">Dashboard</span>
                </div>
            </div>

            <div *ngIf="regular" class="nbitems" routerLinkActive="hoverselected" [routerLink]="['/campaigns']">
                <div class="nbitemsimg">

                </div>
                <div class="nbitemstext">
                    <!-- <span class="lefticon"><i class="fa fa-desktop"></i></span> -->
                    <span><img src="assets/imgs/campaign.png" alt=""></span>
                    <span class="lefttext">Campaigns</span>
                </div>
            </div>

            <div *ngIf="regular" class="nbitems  " routerLinkActive="hoverselected" [routerLink]="['/newlist']">
                <div class="nbitemsimg">

                </div>
                <div class="nbitemstext">
                    <!-- <span class="lefticon"><i class="fa fa-desktop"></i></span> -->
                    <span><img src="assets/imgs/distribution.png" alt=""></span>
                    <span class="lefttext">Distribution List</span>
                </div>
            </div>

            <div *ngIf="regular" class="nbitems  " routerLinkActive="hoverselected" [routerLink]="['/firewall']">
                <div class="nbitemsimg">

                </div>
                <div class="nbitemstext">
                    <!-- <span class="lefticon"><i class="fa fa-desktop"></i></span> -->
                    <span><img src="assets/imgs/firewall.png" alt=""></span>
                    <span class="lefttext">Firewall</span>
                </div>
            </div>

            <div *ngIf="regular" class="nbitems  " routerLinkActive="hoverselected" [routerLink]="['/autoresponse']">
                <div class="nbitemsimg">

                </div>
                <div class="nbitemstext">
                    <!-- <span class="lefticon"><i class="fa fa-desktop"></i></span> -->
                    <span><img src="assets/imgs/autoresponder.png" alt=""></span>
                    <span class="lefttext">Auto Response</span>
                </div>
            </div>

            <div *ngIf="regular" class="nbitems  " routerLinkActive="hoverselected" [routerLink]="['/hr']">
                <div class="nbitemsimg">

                </div>
                <div class="nbitemstext">
                    <!-- <span class="lefticon"><i class="fa fa-desktop"></i></span> -->
                    <span><img src="assets/imgs/hr.png" alt=""></span>
                    <span class="lefttext">HR Module</span>
                </div>
            </div>



















            <!-- master -->
            <div class="nbitems" *ngIf="master" [ngClass]="{'rightborder hoverselected': masterclicked}" routerLinkActive="hoverselected" (click)="onmasterclicked()">
                <div class="nbitemstext">
                    <span class="lefticon"><i class="fa fa-user-secret"></i></span><span class="lefttext">Master</span><span *ngIf="masterclicked==true" class="rightarrow"><i class="fa fa-caret-down"></i></span>
                    <span *ngIf="masterclicked==false" class="rightarrow"><i class="fa fa-caret-right"></i></span>
                </div>
            </div>
            <div *ngIf="masterclicked == true" [ngClass]="{'rightborder': masterclicked}">
                <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/newaccount']">
                    <div class="nbitemstext">
                        <span class="lefticonsubsub"><i class="fa fa-pencil-square"></i></span><span class="lefttextsubsub">New Account</span>
                    </div>
                </div>
                <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/dashboard']">
                    <div class="nbitemstext">
                        <span class="lefticonsubsub"><i class="fa fa-pencil-square"></i></span><span class="lefttextsubsub">Dashboard</span>
                    </div>
                </div>
                <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/moderate']">
                    <div class="nbitemstext">
                        <span class="lefticonsubsub"><i class="fa fa-tasks"></i></span><span class="lefttextsubsub">Account Moderation</span>
                    </div>
                </div>
                <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/accounts']">
                    <div class="nbitemstext">
                        <span class="lefticonsubsub"><i class="fa fa-suitcase"></i></span><span class="lefttextsubsub">Accounts</span>
                    </div>
                </div>
                <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/bundle']">
                    <div class="nbitemstext">
                        <span class="lefticonsubsub"><i class="fa fa-tty"></i></span><span class="lefttextsubsub">Bundle</span>
                    </div>
                </div>
                <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/credit']">
                    <div class="nbitemstext">
                        <span class="lefticonsubsub"><i class="fa fa-credit-card"></i></span><span class="lefttextsubsub">Top-Ups</span>
                    </div>
                </div>
                <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/masks']">
                    <div class="nbitemstext">
                        <span class="lefticonsubsub"><i class="fa fa-window-restore"></i></span><span class="lefttextsubsub">Masks/Shortcodes</span>
                    </div>
                </div>
                <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/issues']">
                    <div class="nbitemstext">
                        <span class="lefticonsubsub"><i class="fa fa-database"></i></span><span class="lefttextsubsub">Manage Issues</span>
                    </div>
                </div>
                <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/salesrevenue']">
                    <div class="nbitemstext">
                        <span class="lefticonsubsub"><i class="fa fa-dollar"></i></span><span class="lefttextsubsub">Sales Comissions</span>
                    </div>
                </div>
                <div class="nbsubitems  " routerLinkActive="hoverselectedsub" [routerLink]="['/master/reports']">
                    <div class="nbitemstext">
                        <span class="lefticonsubsub"><i class="fa fa-download"></i></span><span class="lefttextsubsub">Reports</span>
                    </div>
                </div>
            </div>

        </div>
        <br>
    </div>

    <div class="telenorlogosidenav">
        <img src="assets/imgs/telenorlogo.png" alt="Telenor Logo">
    </div>

</section>