<section id="quickSection">
  <div>
    <p class="lead"><u>Compose Bulk Message</u></p>
    <br>
  <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
              <div class="col-12 col-md-3 align-self-center">
                  <label style="margin:0">Name</label>
              </div>
              <div class="col-12 col-md-9">
                  <input type="text" (input)="namechange($e)" [(ngModel)]="name" name="name" required id="name" class="form-control" placeholder="Enter name for this operation ..">
              </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Select Language</label>
                </div>
                <div class="col-12 col-md-9">
                    <select [(ngModel)]="language" name="language" id="language" (change)="languagechange($event)" class="form-control form-control-sm">
                        <option value="" disabled selected>Select Language</option>
                        <option value="english">English</option>
                        <option value="urdu">Urdu</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Operation Type</label>
                </div>
                <div class="col-12 col-md-9">
                      <label style="font-weight:350;margin:0" class="radio-inline">
                        <input type="radio" (change)="opchange($event)" name="optype" value=""> No Template
                      </label>&nbsp;&nbsp;&nbsp;
                      <label class="radio-inline" style="font-weight:350;margin:0">
                        <input type="radio" name="optype" (change)="opchange($event)" value="static"> Static Template
                      </label>&nbsp;&nbsp;&nbsp;
                      <label class="radio-inline" style="font-weight:350;margin:0">
                        <input type="radio" name="optype" (change)="opchange($event)" value="dynamic"> Dynamic Template
                      </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Select Masking</label>
                </div>
                <div class="col-12 col-md-9">
                    <select [(ngModel)]="masking" (change)="maskingchange($event)" name="masking" id="masking" class="form-control form-control-sm" required>
                        <option value="" disabled selected>Select Masking</option>
                        <option *ngFor="let item of masksarr" [value]="item.mask">none</option>
                      </select>
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Campaign Name</label>
                </div>
                <div class="col-12 col-md-9">
                    <select (change)="campaignchange($event)" name="campaign" id="campaign" class="form-control form-control-sm">
                        <option value="" disabled selected>Select Campaign</option>
                        <option *ngFor="let item of campaignsArr" [value]="item.path">{{item.name}}</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Select Template</label>
                </div>
                <div class="col-12 col-md-9">
                    <select (change)="templatechange($event)" name="template" id="template" class="form-control form-control-sm">
                        <option value="" disabled selected>Select Template</option>
                        <option *ngFor="let item of templatesArr" [value]="item.description">{{item.name}}</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-3 align-self-center">
                    <label style="margin:0">Message / SMS</label>
                </div>
                <div class="col-12 col-md-9">
                    <textarea (change)="msgchange()" (input)="msgchange()" [(ngModel)]="msg" name="msg" id="" cols="30" rows="4" class="form-control" required></textarea>
                    <small class="text-muted">Characters: <span class="msghelper">{{msgchars}}</span> &nbsp;&nbsp;|&nbsp;&nbsp; No. of Messages:  <span class="msghelper">{{msgcount}}</span></small>
                </div>                
            </div>
            <div class="form-group text-center">
                <div class="clearfix"></div>
                <hr>
                <input [disabled]="sent==true" (click)="registertestbulk()" type="submit" value="Test Bulk SMS" class="btn btn-alter">
                  <input [disabled]="sent==true" (click)="registerbulk()" type="submit" value="Send Bulk SMS" class="btn btn-primary">
                <hr>
                <div class="clearfix"></div>
                <div *ngIf="sent == true">Please Wait .. <span><i class="fa fa-spinner fa-spin"></i></span></div>
              </div>
        </div>
        <div class="col-md-4">

            <div style="position:relative;width:287px;" class="d-block mx-auto">
                <div class="topbar"><img src="assets/imgs/status.png" style="width:100%" alt="status"></div>  
                <div class="topbarmask" *ngIf="masking.length>0">{{masking=="default"?"Phone Number":masking}}</div>  
                <span *ngIf="msg.length>0" style="position: absolute;
                top: 135px;
                left: 35px;
                color:#024639;
                z-index: 0;"><i class="fa fa-caret-left fa-2x"></i></span>
                <div class="bubble" *ngIf="msg.length>0" [innerHTML]="msg"></div>
                <img src="assets/imgs/phone.png" class="img img-responsive" alt="Phone Deme">
              </div>


            <!-- <div class="form-group">
                <label for="cdate">Date (MM/dd/yyyy hh:mm:ss am/pm)</label>
                <input type="text" [(ngModel)]="cdate" name="cdate" id="cdate" class="form-control" placeholder="Enter date here .." required>
            </div> -->




        </div>            

  </div>
</div>
</section>

