<section>
  <div class="row" *ngIf="accountsarr.length>0">
    <div class="col-md-12">
      <p class="lead">
        <u>Registered Accounts</u>
      </p>
      <br>
      <div style="height:150px; overflow-y:auto">
        <table class="table table-sm table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>Fullname</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Type</th>
              <th>CreatedOn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of accountsarr">
              <td>{{item.fullname}}</td>
              <td>{{item.phone}}</td>
              <td>{{item.email}}</td>
              <td>{{item.type}}</td>
              <td>{{item.created}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>


  <hr>
  <br>
  <div class="row">
    <div class="col-md-4">
      <p class="lead">
        <u>Search Account (via email)</u>
      </p>
      <br>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="email" [readonly]="enable">
      </div>
      <br>
      <div class="form-group">
        <input type="button" value="Search" class="btn btn-primary" (click)="search()">
        <input type="button" value="Clear" class="btn btn-primary" (click)="clear()">
      </div>
    </div>
  </div>

  <hr>
  <br>

  <div class="row" *ngIf="enable">

    <div class="col-md-12">
      <h6>User Information</h6>
      <table class="table table-sm table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Fullname</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Type</th>
            <th>Activated</th>
            <th>Suspended</th>
            <th>Created</th>
            <th>Expiry</th>
            <th>SMSTP</th>
            <th>SMS</th>
            <th>WATP</th>
            <th>WA</th>
            <th>Action</th>
            <th>Usage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{userobj.fullname}}</td>
            <td>{{userobj.phone}}</td>
            <td>{{userobj.email}}</td>
            <td>{{userobj.type}}</td>
            <td>{{userobj.isactivated}}</td>
            <td>{{userobj.issuspended}}</td>
            <td>{{userobj.created}}</td>
            <td>{{userobj.expirybundle}}</td>
            <td>{{userobj.smstp}}</td>
            <td>{{userobj.creditsms}}</td>
            <td>{{userobj.watp}}</td>
            <td>{{userobj.creditwhatsapp}}</td>
            <td>
              <input [hidden]="userobj.issuspended != false" type="button" value="Suspend" class="btn btn-xs btn-danger" (click)="suspend(userobj.email)">
              <input type="button" [hidden]="userobj.issuspended != true" value="Allow" class="btn btn-xs btn-success" (click)="allow(userobj.email)">              &nbsp;
              <input type="button" value="Reset Password" class="btn btn-xs btn-default" (click)="resetpassword(userobj.email)">
            </td>
            <td>
              <input type="button" value="Quick" class="btn btn-xs btn-default" (click)="quick(userobj.email)"> &nbsp;
              <input type="button" value="Bulk" class="btn btn-xs btn-default" (click)="bulk(userobj.email)"> &nbsp;
              <input type="button" value="WhatsApp" class="btn btn-xs btn-default" (click)="whatsapp(userobj.email)">
            </td>
          </tr>
        </tbody>
      </table>

      <hr>

      <h6>Childs Information</h6>
      <table class="table table-sm table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Fullname</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Type</th>
            <th>Activated</th>
            <th>Suspended</th>
            <th>Created</th>
            <th>Expiry</th>
            <th>SMS</th>
            <th>WhatsApp</th>
            <th>Action</th>
            <th>Usage</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of childsarr">
            <td>{{obj.fullname}}</td>
            <td>{{obj.phone}}</td>
            <td>{{obj.email}}</td>
            <td>{{obj.type}}</td>
            <td>{{obj.isactivated}}</td>
            <td>{{obj.issuspended}}</td>
            <td>{{obj.created}}</td>
            <td>{{obj.expirybundle}}</td>
            <td>{{obj.creditsms}}</td>
            <td>{{obj.creditwhatsapp}}</td>
            <td>
              <input [hidden]="obj.issuspended != false" type="button" value="Suspend" class="btn btn-xs btn-danger" (click)="suspend(obj.email)">
              <input type="button" [hidden]="obj.issuspended != true" value="Allow" class="btn btn-xs btn-success" (click)="allow(obj.email)">              &nbsp;
              <input type="button" value="Reset Password" class="btn btn-xs btn-default" (click)="resetpassword(obj.email)">
            </td>
            <td>
              <input type="button" value="Quick" class="btn btn-xs btn-default" (click)="quick(obj.email)"> &nbsp;
              <input type="button" value="Bulk" class="btn btn-xs btn-default" (click)="bulk(obj.email)"> &nbsp;
              <input type="button" value="WhatsApp" class="btn btn-xs btn-default" (click)="whatsapp(obj.email)">
            </td>
          </tr>
        </tbody>
      </table>

      <hr>

      <h6>Extend Resources</h6>
      <div>
        <input type="button" class="btn btn-primary btn-sm" value="Extend by 1 Week" (click)="week1(userobj.email,userobj.expirybundle)">
        <input type="button" class="btn btn-primary btn-sm" value="Replace SMS Throuput (10)" (click)="smstp10(userobj.email)">
        <input type="button" class="btn btn-primary btn-sm" value="Replace WA Throuput (10)" (click)="watp10(userobj.email)">
      </div>
      <br>
      <h6>Add Credit</h6>
      <div>
        <input type="number" [(ngModel)]="promocredit">
      </div>
      <br>
      <div>
        <input type="button" class="btn btn-primary btn-sm" value="Add SMS Credit" (click)="psms(userobj.email)">
        <input type="button" class="btn btn-primary btn-sm" value="Add WhatsApp Credit" (click)="pwhatsapp(userobj.email)">
      </div>

      <hr>


    </div>
  </div>
</section>