section{
    margin-left: 25px;
    margin-right: 25px;
    font-size: small;
    box-sizing: border-box;
}

.form-control{
    border-radius: 0px;
    font-size: small;
}

.btn{
    font-size: small;
}