<section>
    <div class="p-3 mb-2 bg-success text-white">Base bundle subscription is FREE for all MangoTree users for the first 06 months.</div>
    <br>
  <div *ngIf="bundlearr==0" class="row" >
    <!-- <form (submit)="createbundle()"> -->
        
    <div class="col-md-4 form-group">
      <u>
        <p class="lead">Create configuration</p>
      </u>

      <div class="form-group">
        <label>Expiry</label>
        <select (change)="selectchange($event)" [(ngModel)]="_expiry" name="_expiry" class="form-control" required>
          <option value="" disabled selected>Select Expiry</option>
          <option value="1">1 Month</option>
          <option value="2">2 Month</option>
          <option value="3">3 Month</option>
        </select>
      </div>
      <div class="form-group">
        <label>Encryption</label>
        <select (change)="selectchange($event)" [(ngModel)]="_encryption" name="_encryption" class="form-control"
          required>
          <option value="" disabled selected>Select</option>
          <!-- <option value="enable">Yes</option> -->
          <option value="disable">No</option>
        </select>
      </div>
      <div class="form-group">
        <label>Featureset</label>
        <select (change)="selectchange($event)" [(ngModel)]="_featureset" name="_featureset" class="form-control"
          required>
          <option value="" disabled selected>Select</option>
          <option value="messaging">SMS</option>
          <!-- <option value="digital">WhatsApp</option> -->
          <!-- <option value="messaging,digital">SMS & WhatsApp</option> -->
        </select>
      </div>

      <div class="form-group">
        <label>Throughput SMS</label>
        <select (change)="selectchange($event)" [(ngModel)]="_tpsms" name="_tpsms" class="form-control" required>
          <option value="" disabled selected>Select</option>
          <!-- <option value="0">Don't buy throughput</option> -->
          <option value="10">10/minute</option>
          <option value="50">50/minute</option>
          <option value="100">100/minute</option>
        </select>
      </div>
      <div class="form-group" *ngIf="_featureset == 'digital'">
        <label>Throughput WhatsApp</label>
        <select (change)="selectchange($event)" [(ngModel)]="_tpwa" name="_tpwa" class="form-control" required>
          <option value="" disabled selected>Select</option>
          <option value="0">Don't buy throughput</option>
          <option value="10">10/minute</option>
          <option value="50">50/minute</option>
          <option value="100">100/minute</option>
        </select>
      </div>

    </div>
    <div class="col-md-4 text-center" style="white-space: pre-line;">
      <!-- <p *ngIf="items!=''" class="lead" style="border:1px solid grey;" >{{items}}</p> -->
      <div *ngIf="items!=''" [innerHTML]="items" class="lead" style="border:1px solid grey;"></div>
    </div>
    <div class="col-md-4 text-center">
      <h6>The selected configuration will cost you:</h6>
      <h1 style="font-size: 50px">{{cost}} PKR</h1>
      <div class="form-group">
        <hr>
        <input type="button" (click)="createbundle()" value="Buy configuration" class="btn btn-primary">
        <hr>
      </div>
    </div>
    <!-- </form> -->
  </div>

  <div class="row" *ngIf="bundlearr.length>0">
      <div class="col-md-12">
          
        <u> <p class="lead">Configuration History</p></u>
        <table class="table table-sm table-condensed table-bordered table-hover">
  
          <thead>
            <tr class="table-info">
              <th>ID</th>
              <!-- <th>Encryption</th> -->
              <th>Features</th>
              <th>SMS TP</th>
              <!-- <th>WA TP</th> -->
              <th>Cost</th>
              <th>Payment</th>
              <th>Created</th>
              <th>Expiry</th>
              <!-- <th>CreatedBy</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of bundlearr">
              <td class="text-muted">{{item._id}}</td>
              <!-- <td class="text-muted">{{item.encryption}}</td> -->
              <td class="text-muted">{{item.featureset}}</td>
              <td class="text-muted">{{item.smstp}}</td>
              <!-- <td class="text-muted">{{item.watp}}</td> -->
              <td class="text-muted">{{item.cost}}</td>
              <td class="text-muted">{{item.payment}}</td>
              <td class="text-muted">{{item.created}}</td>
              <td class="text-muted">{{item.expiry}}</td>
              <!-- <td class="text-muted">{{item.createdby}}</td> -->
              <!-- <td class="text-muted text-danger"><button (click)="ondelete( item._id )" class="btn btn-danger"><span>Delete
                    <i class="fa fa-times"></i></span></button></td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr>


  <div class="row" *ngIf="bundlearr.length > 0 && bundlearr[0].payment==true">
    <div class="col-md-4">
      <u>
        <p class="lead">Buy TopUp</p>
      </u>
      <div class="form-group">
        <label>SMS Credit</label>
        <select (change)="selectchangecredit($event)" [(ngModel)]="_smscredit" name="_smscredit" class="form-control"
          required>
          <option value="" disabled selected>Select</option>
          <option value="631">999</option>
          <option value="618">1000</option>
          <option value="765">1250</option>
          <option value="907">1500</option>
          <option value="1035">1750</option>
          <option value="1156">2000</option>
          <option value="1714">3000</option>
          <option value="2259">4000</option>
          <option value="2756">5000</option>
          <option value="4033">7500</option>
          <option value="5310">10000</option>
          <option value="6554">12500</option>
          <option value="7663">15000</option>
          <option value="12435">25000</option>
          <option value="14721">30000</option>
          <option value="16939">35000</option>
          <option value="21174">45000</option>
          <option value="25140">55000</option>
          <option value="29274">65000</option>
          <option value="33273">75000</option>
          <option value="34416">80000</option>
          <option value="35424">85000</option>
          <option value="36903">90000</option>
          <option value="38315">95000</option>
          <option value="38987">100000</option>
          <option value="41407">110000</option>
          <option value="46213">125000</option>
          <option value="54447">150000</option>
          <option value="61169">175000</option>
          <option value="67219">200000</option>
          <option value="74109">225000</option>
          <option value="80663">250000</option>
          <option value="85032">275000</option>
          
        </select>
      </div>
      <div class="form-group" *ngIf="'a'=='b'">
        <label>WhatsApp Credit</label>
        <select (change)="selectchangecredit($event)" [(ngModel)]="_whatsappcredit" name="_whatsappcredit" class="form-control"
          required>
          <option value="" disabled selected>Select</option>
          <option value="1000">999</option>
          <option value="10000">10000</option>
          <option value="100000">100000</option>
        </select>
      </div>
    </div>
    <div class="col-md-4 text-center" style="white-space: pre-line;">
        <!-- <p *ngIf="itemscredit!=''" class="lead" style="border:1px solid grey;">{{itemscredit}}</p> -->
        <div *ngIf="itemscredit!=''" [innerHTML]="itemscredit" class="lead" style="margin-top: 35px;
        border: 1px solid green;
        min-height: 37px;
        color: green;"></div>
      </div>
      <div class="col-md-4 text-center">
        <h6>Total Cost:</h6>
        <h1 style="font-size: 50px">{{costcredit}} PKR</h1>
        <br>
        <div class="form-group">
          <hr>
          <input type="button" (click)="buycredit()" value="Buy credit" class="btn btn-primary">
          <hr>
        </div>
      </div>
  </div>

  <div class="row" *ngIf="creditarr.length>0">
      <div class="col-md-12">
        <u> <p class="lead">TopUp History</p></u>
        <table class="table table-sm table-condensed table-bordered table-hover">
  
          <thead>
            <tr class="table-info">
              <th>ID</th>
              <th>SMS</th>
              <!-- <th>WhatsApp</th> -->
              <th>Cost</th>
              <th>Payment</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of creditarr">
              <td class="text-muted">{{item._id}}</td>
              <td class="text-muted">{{item.smscredit}}</td>
              <!-- <td class="text-muted">{{item.whatsappcredit}}</td> -->
              <td class="text-muted">{{item.cost}}</td>
              <td class="text-muted">{{item.payment}}</td>
              <td class="text-muted">{{item.created}}</td>
              <!-- <td class="text-muted text-danger"><button (click)="ondelete( item._id )" class="btn btn-danger"><span>Delete
                    <i class="fa fa-times"></i></span></button></td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>


</section>
