#mainsection{
    margin-left: 25px;
    margin-right: 25px;
    font-size: small;
    box-sizing: border-box;
    min-height:700px;
}

.form-control{
    font-size: small;
    border-radius: 0px;
}

.btn{
    font-size: small;
    width:100%;
}

.clearfix{
    height: 10px;
}